  <section class="carousel cz-controls-lg">
    <div class="carousel-inner" >
      <div class="px-lg-5" style="background-color: #f3935e;">
        <div class="d-lg-flex justify-content-between align-items-center pl-lg-4"><img class="d-block order-lg-2 mr-lg-n5 flex-shrink-0" src="../../assets/imagens/home/slider/01.png" alt="Summer Collection">
          <div class="position-relative mx-auto mr-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
            <div class="pb-lg-5 mb-lg-5 text-center text-lg-left text-lg-nowrap">
              <h2 class="text-light font-weight-light pb-1 from-left">Precisa de uma grana extra?</h2>
              <h1 class="text-light display-4 from-left delay-1">aluGO</h1>
              <p class="font-size-lg text-light pb-3 from-left delay-2">Alugando você sempre ganha dinheiro</p><a class="btn btn-primary scale-up delay-4" routerLink="/list-all">Economizar<i class="fa fa-arrow-right ml-2 mr-n1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container position-relative pt-3 pt-lg-0 pb-5 mt-lg-n10" style="z-index: 10;">
    <div class="row">
      <div class="col-xl-8 col-lg-9">
        <div class="card border-0 box-shadow-lg">
          <div class="card-body px-3 pt-grid-gutter pb-0">
            <div class="row no-gutters pl-1">
              <div class="col-sm-4 px-2 mb-grid-gutter"><a class="d-block text-center text-decoration-none mr-1" href="shop-grid-ls.html"><img class="d-block rounded mb-3" src="../../assets/imagens/home/categories/cat-sm01.jpg" alt="Men">
                  <h3 class="font-size-base pt-1 mb-0">Ferramentas</h3></a></div>
              <div class="col-sm-4 px-2 mb-grid-gutter"><a class="d-block text-center text-decoration-none mr-1" href="shop-grid-ls.html"><img class="d-block rounded mb-3" src="../../assets/imagens/home/categories/cat-sm02.jpg" alt="Women">
                  <h3 class="font-size-base pt-1 mb-0">Casa</h3></a></div>
              <div class="col-sm-4 px-2 mb-grid-gutter"><a class="d-block text-center text-decoration-none mr-1" href="shop-grid-ls.html"><img class="d-block rounded mb-3" src="../../assets/imagens/home/categories/cat-sm03.jpg" alt="Kids">
                  <h3 class="font-size-base pt-1 mb-0">Profissional</h3></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container pt-md-3 pb-5 mb-md-3">
    <h2 class="h3 text-center">Produtos em Alta</h2>
    <div class="row pt-4 mx-n2">
      <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
        <div class="card product-card">
          <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="fa fa-heart"></i></button><a class="card-img-top d-block overflow-hidden" routerLink="detalhe-produto"><img src="../../assets/imagens/shop/catalog/01.jpg" alt="Product"></a>
          <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Com molas anti-impacto</a>
            <h3 class="product-title font-size-sm"><a routerLink="detalhe-produto">Tênis para corrida</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent">R$ 154.<small>00</small></span></div>
              <div class="star-rating"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="card-body card-body-hidden">
            <button class="btn btn-primary btn-sm btn-block mb-2" type="button" href="#quick-view" data-toggle="modal"><i class="fa fa-cart font-size-sm mr-1"></i>Visualizar Detalhes</button>
            
          </div>
        </div>
        <hr class="d-sm-none">
      </div>
      
    </div>
    <div class="text-center pt-3"><a class="btn btn-outline-accent" routerLink="list-all">Mais Produtos<i class="fa fa-arrow-right ml-1"></i></a></div>
  </section>

  