


<header class="box-shadow-sm">
  <div class="navbar-sticky bg-light" >
    <div class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand d-none d-sm-block mr-3 flex-shrink-0" routerLink="/" style="min-width: 7rem;">
          <img width="100" src="../../assets/imagens/alugoIcon.PNG" alt="aluGO" />
        </a>
        <a class="navbar-brand d-sm-none mr-2" href="index-2.html" style="min-width: 4.625rem;">
          <img width="60" src="../../assets/imagens/alugoIcon.PNG" alt="aluGO" />
        </a>
        <div class="input-group-overlay d-none d-lg-flex mx-4">
          <input [(ngModel)]="txtPesquisa" class="form-control appended-form-control" type="text" placeholder="
          {{ 'portal-alugo.portal-layout.procuraProdutos' | translate }}">
          
          <div class="input-group-append-overlay" style="cursor: pointer;">
            <span class="input-group-text" (click)="pesquisaProduto()">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </div>
        <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-tool navbar-stuck-toggler" href="#">
            <span class="navbar-tool-tooltip">{{ 'portal-alugo.portal-layout.expandirMenu' | translate }}</span>
            <div class="navbar-tool-icon-box">
              <i class="navbar-tool-icon fa fa-menu"></i>
            </div>
          </a>
          

          <a *ngIf="currentUser.isLogado" class="navbar-tool ml-1 ml-lg-0 mr-n1 mr-lg-2" routerLink="/cliente/perfil/dados" data-toggle="modal">
            <div class="navbar-tool-icon-box">
              <i class="navbar-tool-icon fa fa-user"></i>
            </div>
            <div class="navbar-tool-text ml-n3">
              <small>{{ 'portal-alugo.portal-layout.ola' | translate }}, {{currentUser.nome}}</small>
              {{ 'portal-alugo.portal-layout.minhaConta' | translate }}
            </div>
          </a>

          <a *ngIf="!currentUser.isLogado" class="navbar-tool ml-1 ml-lg-0 mr-n1 mr-lg-2" routerLink="/login" data-toggle="modal">
            <div class="navbar-tool-icon-box">
              <i class="navbar-tool-icon fa fa-user-plus"></i>
            </div>
            <div class="navbar-tool-text ml-n3">
              <small>{{ 'portal-alugo.portal-layout.naoLogado' | translate }}</small>
              {{ 'portal-alugo.portal-layout.login' | translate }} / {{ 'portal-alugo.portal-layout.cadastrar' | translate }}
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <!-- Search-->
          <div class="input-group-overlay d-lg-none my-3">
            <div (click)="pesquisaProduto()" style="cursor: pointer;" class="input-group-prepend-overlay"><span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input [(ngModel)]="txtPesquisa" class="form-control prepended-form-control" type="text" placeholder="Procurar produtos">
          </div>
          <!-- <ul class="navbar-nav mega-nav pr-lg-2 mr-lg-2">
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle pl-0" href="#" data-toggle="dropdown"><i
                  class="fa fa-border-all mr-2"></i>{{ 'portal-alugo.portal-layout.categorias' | translate }}</a>
              <div class="dropdown-menu px-2 pl-0 pb-4">
                <div class="d-flex flex-wrap flex-md-nowrap">
                  <div class="mega-dropdown-column pt-4 px-3">
                    <div class="widget widget-links"><a class="d-block overflow-hidden rounded-lg mb-3" href="#"><img
                          src="../../assets/imagens/shop/departments/01.jpg" alt="Shoes" /></a>
                      <h6 class="font-size-base mb-2">{{ 'portal-alugo.categorias.cozinha' | translate }}</h6>
                      <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link" href="#">
                        {{ 'portal-alugo.categorias.eletrodomestico' | translate }}</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">
                        {{ 'portal-alugo.categorias.recipiente' | translate }}</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">
                        {{ 'portal-alugo.categorias.industrial' | translate }}</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="mega-dropdown-column pt-4 px-3">
                    <div class="widget widget-links"><a class="d-block overflow-hidden rounded-lg mb-3" href="#"><img
                          src="../../assets/imagens/shop/departments/02.jpg" alt="Shoes" /></a>
                      <h6 class="font-size-base mb-2">{{ 'portal-alugo.categorias.objetosProfissionais' | translate }}</h6>
                      <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link" href="#">
                        {{ 'portal-alugo.categorias.cameras' | translate }}</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">
                            {{ 'portal-alugo.categorias.filmadoras' | translate }}</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">
                            {{ 'portal-alugo.categorias.microfones' | translate }}</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="mega-dropdown-column pt-4 px-3">
                    <div class="widget widget-links"><a class="d-block overflow-hidden rounded-lg mb-3" href="#"><img
                          src="../../assets/imagens/shop/departments/03.jpg" alt="Shoes" /></a>
                      <h6 class="font-size-base mb-2">{{ 'portal-alugo.categorias.aparelhoCortarGrama' | translate }}</h6>
                      <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link" href="#">
                        {{ 'portal-alugo.categorias.aparelhoCortarGrama' | translate }}</a>
                        </li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">
                        {{ 'portal-alugo.categorias.ferramentaJardinagem' | translate }}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-wrap flex-md-nowrap">
                  <div class="mega-dropdown-column pt-4 px-3">
                    <div class="widget widget-links"><a class="d-block overflow-hidden rounded-lg mb-3" href="#"><img
                          src="../../assets/imagens/shop/departments/04.jpg" alt="Shoes" /></a>
                      <h6 class="font-size-base mb-2">{{ 'portal-alugo.categorias.automovel' | translate }}</h6>
                      <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link" href="#">
                        {{ 'portal-alugo.categorias.lavagemPressao' | translate }}</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">
                        {{ 'portal-alugo.categorias.aspirador' | translate }}</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">
                        {{ 'portal-alugo.categorias.polimento' | translate }}</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="mega-dropdown-column pt-4 px-3">
                    <div class="widget widget-links"><a class="d-block overflow-hidden rounded-lg mb-3" href="#"><img
                          src="../../assets/imagens/shop/departments/05.jpg" alt="Shoes" /></a>
                      <h6 class="font-size-base mb-2">{{ 'portal-alugo.categorias.acessorios' | translate }}</h6>
                      <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link" href="#">
                        {{ 'portal-alugo.categorias.fones' | translate }}</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">
                        {{ 'portal-alugo.categorias.monitores' | translate }}</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">
                        {{ 'portal-alugo.categorias.mochilas' | translate }}</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="mega-dropdown-column pt-4 px-3">
                    <div class="widget widget-links"><a class="d-block overflow-hidden rounded-lg mb-3" href="#"><img
                          src="../../assets/imagens/shop/departments/06.jpg" /></a>
                      <h6 class="font-size-base mb-2">{{ 'portal-alugo.categorias.studio' | translate }}</h6>
                      <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link" href="#">
                        {{ 'portal-alugo.categorias.luzesProfissionais' | translate }}</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">
                        {{ 'portal-alugo.categorias.aparelhosSonoros' | translate }}</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">
                        {{ 'portal-alugo.categorias.mixagem' | translate }}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul> -->
          <mat-form-field>
            <mat-label><img class="text-right" src="../../../assets/imagens/flags/{{currentBandeira}}" width="28px"></mat-label>
            <mat-select [(value)]="currentIdioma" >
              <mat-option (click)="clickMudaIdioma()" *ngFor="let idioma of idiomas" [value]="idioma.name">
                <img class="text-right" src="../../../assets/imagens/flags/{{idioma.bandeira}}" width="32px"> 
                {{idioma.displayNome}} 
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</header>


<router-outlet></router-outlet>

<footer class="bg-dark pt-5">
  <div class="pt-5 bg-darker">
    <div class="container">
      <hr class="hr-light pb-4 mb-3">
      <div class="row pb-2">
        <div class="col-md-6 text-center text-md-left mb-4">
          <div class="text-nowrap mb-4"><a class="d-inline-block align-middle mt-n1 mr-3" href="#"><img class="d-block"
                width="117" src="../../assets/imagens/alugoIcon.PNG" alt="aluGO" /></a>

          </div>
          <div class="widget widget-links widget-light">
            <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
              <li class="widget-list-item mr-4"><a class="widget-list-link" href="#">
              {{ 'portal-alugo.portal-layout.suporte' | translate }}</a></li>
              <li class="widget-list-item mr-4"><a class="widget-list-link" href="#">
              {{ 'portal-alugo.portal-layout.privacidade' | translate }}</a></li>
              <li class="widget-list-item mr-4"><a class="widget-list-link" href="#">
              {{ 'portal-alugo.portal-layout.termosUso' | translate }}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="cz-handheld-toolbar">
  <div class="d-table table-fixed w-100">
    <a class="d-table-cell cz-handheld-toolbar-item" routerLink="/cliente/perfil/dados">
      <span class="cz-handheld-toolbar-icon"><i class="fa fa-user"></i></span>
      <span class="cz-handheld-toolbar-label">{{ 'portal-alugo.portal-layout.meuPerfil' | translate }}</span></a>
    <a class="d-table-cell cz-handheld-toolbar-item" href="#navbarCollapse" data-toggle="collapse"
      onclick="window.scrollTo(0, 0)"><span class="cz-handheld-toolbar-icon"><i class="fa fa-bars"></i></span><span
        class="cz-handheld-toolbar-label">{{ 'portal-alugo.portal-layout.menu' | translate }}</span></a>
  </div>
</div>