<!-- <mat-toolbar class="backSecondaryAlugo">

  <span class="separador"></span>
  <button (click)="listaUsuarios()" mat-raised-button class="mr-2 backPrimaryAlugo text-right"><i class="fa fa-list"></i> Usuários</button>
  <button (click)="logout()" mat-raised-button class="mr-2 backPrimaryAlugo">
    <mat-icon aria-hidden="false" aria-label="Example user verified icon">login</mat-icon>
  </button>
</mat-toolbar> -->



<div class="row mt-2">

  <div class="col-1">
  </div>

  <div class="col-10">
    
    <mat-horizontal-stepper>
      <mat-step>
        <ng-template matStepLabel>Dados Básicos</ng-template>
        <div class="card text-center">
          <div class="card-header">
            Atualização/cadastro de usuários {{user.email}}
          </div>
          <div class="card-body">
        <form #usuarioForm="ngForm" (ngSubmit)="salvaUsuario()">
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Email</mat-label>
                <input [(ngModel)]="user.email" name="email" matInput placeholder="Ex: pessoa@pessoa.com">
                <mat-hint align="start"><strong>este será seu login</strong> </mat-hint>
                <mat-icon matSuffix>person_pin</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-3 mb-3">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Senha</mat-label>
                <input [(ngModel)]="user.senha" name="senha" matInput placeholder="*****">
                <mat-hint align="start"><strong>Uma letra maiúscula e um número</strong> </mat-hint>
              <mat-hint align="end">max 8</mat-hint>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-3 mb-3">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Confirmar Senha</mat-label>
                <input matInput placeholder="*****">
              <mat-hint align="end">max 8</mat-hint>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Nome</mat-label>
                <input [(ngModel)]="user.nome" name="nome" matInput placeholder="João das Neves">
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-4 mb-3">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>CPF</mat-label>
                <input [(ngModel)]="user.cpf" name="cpf" matInput placeholder="123.456.789-01">
                <mat-hint align="start"><strong>Sem pontos ou traços</strong> </mat-hint>
              <mat-hint align="end">max 11</mat-hint>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-4 mb-3">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Data Nascimento</mat-label>
                <input [(ngModel)]="user.data_nascimento" name="data_nascimento" matInput placeholder="09/03/1900">
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-2 mb-3">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>CEP</mat-label>
                <input [(ngModel)]="user.cep" name="cep" matInput placeholder="08664-967">
                <mat-hint align="start"><strong>Sem pontos ou traços</strong> </mat-hint>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-4 mb-3">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Endereço</mat-label>
                <input [(ngModel)]="user.logradouro" name="logradouro" matInput placeholder="Rua de Winterfell - Norte">
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-2 mb-3">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Número</mat-label>
                <input [(ngModel)]="user.numero" name="numero" matInput placeholder="321">
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-4 mb-3">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Código</mat-label>
                <input [(ngModel)]="user.codigo" name="codigo" matInput placeholder="09999-999">
              <mat-hint align="end">codigo de identificação</mat-hint>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3">
            </div>
            <div class="col-md-4 mb-3">
            </div>
            <div class="col-md-4 mb-3">
              <button *ngIf="user.codigo" type="button" (click)="listaUsuarios()" class="btn btn-warning mr-1">Cancelar</button>
              <button type="submit" class="btn btn-success">Salvar</button>
            </div>
          </div>
        </form>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>

  <div class="col-1">
  </div>
</div>