<div class="page-title-overlap bg-dark pt-4">
  <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
    <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
      <h1 class="h3 text-light mb-0">Seus Produtos</h1>
    </div>
  </div>
</div>
<div class="container pb-5 mb-2 mb-md-3">
  <div class="row">
    <!-- Sidebar-->
    <aside class="col-lg-4 pt-4 pt-lg-0">
      <div class="cz-sidebar-static rounded-lg box-shadow-lg px-0 pb-0 mb-5 mb-lg-0">
        <div class="px-4 mb-4">
          <div class="media align-items-center">
            <div class="img-thumbnail rounded-circle position-relative" style="width: 6.375rem;"><span
                class="badge badge-warning" data-toggle="tooltip" title="Reward points">10</span><img
                class="rounded-circle" src="../../../assets/imagens/shop/account/dilan.jpg" alt="Susan Gardner"></div>
            <div class="media-body pl-3">
              <h3 class="font-size-base mb-0">Dilan Lima</h3><span
                class="text-accent font-size-sm">dilan.lima@exemplo.com</span>
            </div>
          </div>
        </div>
        <div class="bg-secondary px-4 py-3">
          <h3 class="font-size-sm mb-0 text-muted">Informações de conta</h3>
        </div>
        <ul class="list-unstyled mb-0">
          <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
              href="account-profile.html"><i class="fa fa-user opacity-60 mr-2"></i>Perfil</a></li>

        </ul>
        <div class="bg-secondary px-4 py-3">
          <h3 class="font-size-sm mb-0 text-muted">Transações</h3>
        </div>
        <ul class="list-unstyled mb-0">
          <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
              href="account-orders.html"><i class="fa fa-user-check opacity-60 mr-2"></i>Locador<span
                class="font-size-sm text-muted ml-auto">1</span></a></li>
          <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
              href="account-orders.html"><i class="fa fa-user-check opacity-60 mr-2"></i>Locatário<span
                class="font-size-sm text-muted ml-auto">5</span></a></li>
        </ul>
        <div class="bg-secondary px-4 py-3">
          <h3 class="font-size-sm mb-0 text-muted">Seus Produtos</h3>
        </div>
        <ul class="list-unstyled mb-0">
          <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3 active"
              href="account-orders.html"><i class="fa fa-product-hunt opacity-60 mr-2"></i>Ativos<span
                class="font-size-sm text-muted ml-auto">5</span></a></li>
          <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
              href="account-orders.html"><i class="fa fa-product-hunt opacity-60 mr-2"></i>Inativos<span
                class="font-size-sm text-muted ml-auto">1</span></a></li>
        </ul>
        <div class="bg-secondary px-4 py-3">
          <h3 class="font-size-sm mb-0 text-muted">Pagamentos</h3>
        </div>
        <ul class="list-unstyled mb-0">
          <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
              href="account-orders.html"><i class="fa fa-money-bill-alt opacity-60 mr-2"></i>Vencimentos<span
                class="font-size-sm text-muted ml-auto">1</span></a></li>
          <li class="mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="account-payment.html"><i
                class="fa fa-credit-card opacity-60 mr-2"></i>Informações de Pagamento</a></li>
        </ul>

      </div>
    </aside>
    <!-- Content  -->
    <div class="bg-light box-shadow-lg rounded-lg overflow-hidden">
      <section class="col-lg-12 pt-lg-4 pb-4 mb-3">
        <div class="pt-2 px-4 pl-lg-0 pr-xl-5">
          <!-- Title-->
          <div class="d-sm-flex flex-wrap justify-content-between align-items-center border-bottom">
            <h2 class="h3 py-2 mr-2 text-center text-sm-left">Seus Produtos<span class="badge badge-secondary font-size-sm text-body align-middle ml-2">5</span></h2>
            <div class="py-2">
              <div class="form-inline flex-nowrap pb-3">
                <label class="text-nowrap mr-2" for="sorting">Ordenar Por:</label>
                <select class="custom-select custom-select-sm mr-2" id="sorting">
                  <option>Data cadastro</option>
                  <option>Nome</option>
                  <option>Valor Aluguel</option>
                  <option>Avaliação</option>
                </select>
                <button class="btn btn-outline-secondary btn-sm px-2" type="button"><i class="fa fa-arrow-up"></i></button>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="media d-block d-sm-flex align-items-center py-4 border-bottom"><a class="d-block mb-3 mb-sm-0 mr-sm-4 mx-auto" href="marketplace-single.html" style="width: 12.5rem;"><img class="rounded-lg" src="img/marketplace/products/th08.jpg" alt="Product"></a>
            <div class="media-body text-center text-sm-left">
              <h3 class="h6 product-title mb-2"><a href="marketplace-single.html">Furadeira</a></h3>
              <div class="d-inline-block text-accent">R$ 18.<small>00</small></div>
              <div class="d-inline-block text-muted font-size-ms border-left ml-2 pl-2">Aluguéis: <span class="font-weight-medium">3</span></div>
              <div class="d-inline-block text-muted font-size-ms border-left ml-2 pl-2">Ganhos: <span class="font-weight-medium">R$ 50.<small>00</small></span></div>
              <div class="d-flex justify-content-center justify-content-sm-start pt-3">
                <button class="btn bg-faded-accent btn-icon mr-2" type="button" data-toggle="tooltip" title="Inativar"><i class="fa fa-lock text-accent"></i></button>
                <button class="btn bg-faded-info btn-icon mr-2" type="button" data-toggle="tooltip" title="Editar"><i class="fa fa-edit text-info"></i></button>
                <button class="btn bg-faded-danger btn-icon" type="button" data-toggle="tooltip" title="Delete"><i class="fa fa-trash text-danger"></i></button>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="media d-block d-sm-flex align-items-center py-4 border-bottom"><a class="d-block position-relative mb-3 mb-sm-0 mr-sm-4 mx-auto" href="marketplace-single.html" style="width: 12.5rem;"><img class="rounded-lg" src="img/marketplace/products/th09.jpg" alt="Product"></a>
            <div class="media-body text-center text-sm-left">
              <h3 class="h6 product-title mb-2"><a href="marketplace-single.html">Square Style Mobile UI Kit (Sketch)</a></h3>
              <div class="d-inline-block text-accent">$24.<small>00</small></div>
              <div class="d-inline-block text-muted font-size-ms border-left ml-2 pl-2">Sales: <span class="font-weight-medium">153</span></div>
              <div class="d-inline-block text-muted font-size-ms border-left ml-2 pl-2">Earnings: <span class="font-weight-medium">$2,570.<small>40</small></span></div>
              <div class="d-flex justify-content-center justify-content-sm-start pt-3">
                <button class="btn bg-faded-accent btn-icon mr-2" type="button" data-toggle="tooltip" title="Inativar"><i class="fa fa-lock text-accent"></i></button>
                <button class="btn bg-faded-info btn-icon mr-2" type="button" data-toggle="tooltip" title="Editar"><i class="fa fa-edit text-info"></i></button>
                <button class="btn bg-faded-danger btn-icon" type="button" data-toggle="tooltip" title="Delete"><i class="fa fa-trash text-danger"></i></button>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="media d-block d-sm-flex align-items-center py-4 border-bottom"><a class="d-block position-relative mb-3 mb-sm-0 mr-sm-4 mx-auto" href="marketplace-single.html" style="width: 12.5rem;"><img class="rounded-lg" src="img/marketplace/products/th10.jpg" alt="Product"></a>
            <div class="media-body text-center text-sm-left">
              <h3 class="h6 product-title mb-2"><a href="marketplace-single.html">Floating Phone and Tablet Mockup (PSD)</a></h3>
              <div class="d-inline-block text-accent">$15.<small>00</small></div>
              <div class="d-inline-block text-muted font-size-ms border-left ml-2 pl-2">Sales: <span class="font-weight-medium">109</span></div>
              <div class="d-inline-block text-muted font-size-ms border-left ml-2 pl-2">Earnings: <span class="font-weight-medium">$1,144.<small>50</small></span></div>
              <div class="d-flex justify-content-center justify-content-sm-start pt-3">
                <button class="btn bg-faded-accent btn-icon mr-2" type="button" data-toggle="tooltip" title="Inativar"><i class="fa fa-lock text-accent"></i></button>
                <button class="btn bg-faded-info btn-icon mr-2" type="button" data-toggle="tooltip" title="Editar"><i class="fa fa-edit text-info"></i></button>
                <button class="btn bg-faded-danger btn-icon" type="button" data-toggle="tooltip" title="Delete"><i class="fa fa-trash text-danger"></i></button>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="media d-block d-sm-flex align-items-center py-4 border-bottom"><a class="d-block position-relative mb-3 mb-sm-0 mr-sm-4 mx-auto" href="marketplace-single.html" style="width: 12.5rem;"><img class="rounded-lg" src="img/marketplace/products/th11.jpg" alt="Product"></a>
            <div class="media-body text-center text-sm-left">
              <h3 class="h6 product-title mb-2"><a href="marketplace-single.html">Minimal Mobile App UI Kit (Sketch)</a></h3>
              <div class="d-inline-block text-accent">$23.<small>00</small></div>
              <div class="d-inline-block text-muted font-size-ms border-left ml-2 pl-2">Sales: <span class="font-weight-medium">117</span></div>
              <div class="d-inline-block text-muted font-size-ms border-left ml-2 pl-2">Earnings: <span class="font-weight-medium">$1,883.<small>70</small></span></div>
              <div class="d-flex justify-content-center justify-content-sm-start pt-3">
                <button class="btn bg-faded-accent btn-icon mr-2" type="button" data-toggle="tooltip" title="Inativar"><i class="fa fa-lock text-accent"></i></button>
                <button class="btn bg-faded-info btn-icon mr-2" type="button" data-toggle="tooltip" title="Editar"><i class="fa fa-edit text-info"></i></button>
                <button class="btn bg-faded-danger btn-icon" type="button" data-toggle="tooltip" title="Delete"><i class="fa fa-trash text-danger"></i></button>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div class="media d-block d-sm-flex align-items-center pt-4 pb-2"><a class="d-block position-relative mb-3 mb-sm-0 mr-sm-4 mx-auto" href="marketplace-single.html" style="width: 12.5rem;"><img class="rounded-lg" src="img/marketplace/products/th12.jpg" alt="Product"></a>
            <div class="media-body text-center text-sm-left">
              <h3 class="h6 product-title mb-2"><a href="marketplace-single.html">Travel &amp; Landmark Icon Pack (AI)</a></h3>
              <div class="d-inline-block text-accent">$17.<small>00</small></div>
              <div class="d-inline-block text-muted font-size-ms border-left ml-2 pl-2">Sales: <span class="font-weight-medium">21</span></div>
              <div class="d-inline-block text-muted font-size-ms border-left ml-2 pl-2">Earnings: <span class="font-weight-medium">$249.<small>90</small></span></div>
              <div class="d-flex justify-content-center justify-content-sm-start pt-3">
                <button class="btn bg-faded-accent btn-icon mr-2" type="button" data-toggle="tooltip" title="Inativar"><i class="fa fa-lock text-accent"></i></button>
                <button class="btn bg-faded-info btn-icon mr-2" type="button" data-toggle="tooltip" title="Editar"><i class="fa fa-edit text-info"></i></button>
                <button class="btn bg-faded-danger btn-icon" type="button" data-toggle="tooltip" title="Delete"><i class="fa fa-trash text-danger"></i></button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>