<!-- <mat-toolbar color="primary">

    <mat-toolbar-row>
      <span>Usuários</span>
    </mat-toolbar-row>
  </mat-toolbar>

  
  <form>
    <mat-card>
        <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="João das Neves">
        </mat-form-field>
    </mat-card>

    <mat-card>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. pat@example.com">
        </mat-form-field>
    </mat-card>
    <mat-card>
        <mat-form-field class="example-full-width">
            <mat-label>Login</mat-label>
            <input matInput placeholder="fts99">
        </mat-form-field>
    </mat-card>
    <mat-card>
        <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="****">
        </mat-form-field>
    </mat-card>
    <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>send</mat-icon>
        </button>
      </div>
  </form> -->

  
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">OnlyCoders</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#download">Em Breve</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">aluGO</h1>
            <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Em Breve!</a>
          </div>
        </div>
        <div class="col-lg-5 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <img src="../assets/img/bg-cta.jpg"  alt="">
                </div>
                <div class="button">
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="contact bg-primary" id="contact">
    <div class="container">
      <h2>Adoramos
        <i class="fas fa-heart"></i>
        sua visita!</h2>
      <ul class="list-inline list-social">
        
        
        <li class="list-inline-item social-google-plus">
          <a href="https://github.com/onlycoders-ifsp">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; OnlyCoders 2020.</p>
    </div>
  </footer>
  <script src="../assets/js/new-age.min.js"></script>