    <div *ngIf="isError | async"class="overlay">
      <div class="container py-5 mb-lg-3">
        <div class="row justify-content-center pt-lg-4 text-center">
          <div class="col-lg-5 col-md-7 col-sm-9">
            <img src="../../assets/imagens/alugoGO.png" class="center1">
            <h1 class="display-404">{{ 'error-request.mensagemErro' | translate }}</h1>
            <h2 class="h3 mb-4">{{ 'error-request.mensagemErro2' | translate }}</h2>
          </div>
        </div>
      </div>
    </div>
    