<!-- <img class="wave" src="/assets/imagens/wave.png">
	<div class="container">
		<div class="img">
            <img src="/assets/imagens/bg.svg">
        </div>
        
		<div class="login-content">
              <form class="needs-validation tab-pane fade show active" id="signin-tab">
                    
                <img src="/assets/imagens/alugoIcon.PNG">
                <div class="input-group mb-3">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Usuário</mat-label>
                        <input matInput placeholder="Ex: pessoa@pessoa.com">
                        <mat-icon matSuffix>person_pin</mat-icon>
                      </mat-form-field>
                </div>
                <div class="input-group mb-2">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Senha</mat-label>
                        <input matInput placeholder="*****">
                        <mat-icon matSuffix>lock</mat-icon>
                      </mat-form-field>
                </div>
                <a href="#">Esqueceu a senha?</a>
                <input (click)="login()" class="btn" value="Login">
            </form>
              
        </div>
    </div> -->

<img class="wave" src="../../assets/imagens/wave.png">
<div class="container">
    
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" role="tablist">
                        <li class="nav-item"><a class="nav-link active" href="#corpoLogin" data-toggle="tab" role="tab"
                                aria-selected="true"><i class="fa fa-lock mr-2 mt-n1"></i>
                                {{ 'portal-alugo.login.textoLogin' | translate }}
                            </a></li>
                        <li class="nav-item"><a class="nav-link" href="#corpoRegistro" data-toggle="tab" role="tab"
                                aria-selected="false"><i class="fa fa-user mr-2 mt-n1"></i>
                                {{ 'portal-alugo.login.registrar' | translate }}</a></li>
                    </ul>
                    
                    
                    
                    
                </div>
                <div class="card-body tab-content p-0">
                    <div *ngIf="loginErro" class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ 'portal-alugo.login.usuarioSenhaIncorreto' | translate }}<!--  {{ loginErro }}-->
                      </div>
                    <div *ngIf="mensagemSucesso" class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ 'portal-alugo.login.usuarioCadastrado' | translate }}
                      </div>
                      <div *ngIf="mensagemErro" class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ 'portal-alugo.login.formularioInvalido' | translate }}
                      </div>
                    <div class="text-center mt-1">
                        <mat-form-field>
                            <mat-label><img class="text-right" src="../../../assets/imagens/flags/{{currentBandeira}}" width="28px">
                            </mat-label>
                            <mat-select [(value)]="currentIdioma">
                                <mat-option (click)="clickMudaIdioma()" *ngFor="let idioma of idiomas" [value]="idioma.name">
                                    <img class="text-right" src="../../../assets/imagens/flags/{{idioma.bandeira}}" width="32px">
                                    {{idioma.displayNome}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    
                    <div class="row fade tab-pane fade show active" id="corpoLogin">
                        <div class="col-lg-12">
                            <div class="p-4">
                                <div class="text-center">
                                    <img src="../../assets/imagens/alugoIcon.PNG" width="150">
                                    <h1 class="h4 text-gray-900">{{ 'portal-alugo.login.entreEconomize' | translate }}</h1>
                                </div>
                                <form [formGroup]="formularioLogin" (ngSubmit)="login()" class="user">
                                    <div class="input-group mb-3">
                                        <mat-form-field class="full-width">
                                            <mat-label>{{ 'portal-alugo.login.usuario' | translate }}</mat-label>
                                            <input formControlName="username" matInput placeholder="{{ 'portal-alugo.login.exUsuario' | translate }}">
                                            <mat-icon matSuffix>person_pin</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="input-group mb-2">
                                        <mat-form-field class="full-width">
                                            <mat-label>{{ 'portal-alugo.login.senha' | translate }}</mat-label>
                                            <input formControlName="password" type="password" matInput placeholder="*****">
                                            <mat-icon matSuffix>lock</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <button type="submit" mat-flat-button class="btn btn-success btn-user btn-block">{{ 'portal-alugo.login.textoLogin' | translate }}</button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a href="#esqueciSenha" data-toggle="tab" role="tab"
                                    aria-selected="false">{{ 'portal-alugo.login.esqueceuSenha' | translate }}</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row fade tab-pane" id="corpoRegistro">
                        <div class="col-lg-12">
                            <div class="p-4">
                                <div class="text-center">
                                    <img src="../../assets/imagens/alugoIcon.PNG" width="50">
                                    <h1 class="h4 text-gray-900">{{ 'portal-alugo.login.crieConta' | translate }}</h1>
                                </div>
                                <form [formGroup]="formularioCadastro" (ngSubmit)="cadastrar()" class="user">

                                    <div class="input-group mb-3">
                                        <mat-form-field class="full-width">
                                            <mat-label>{{ 'portal-alugo.login.email' | translate }}</mat-label>
                                            <input formControlName="email" matInput placeholder="{{ 'portal-alugo.login.exUsuario' | translate }}">
                                            <mat-error *ngIf="formularioCadastro.controls.email.errors && formularioCadastro.controls.email.errors.required">
                                                {{ 'portal-alugo.login.emailPreenchimento' | translate }}
                                              </mat-error>
                                              <mat-error *ngIf="formularioCadastro.controls.email.errors && formularioCadastro.controls.email.errors.email">
                                                {{ 'portal-alugo.login.emailValido' | translate }}
                                              </mat-error>
                                            <mat-icon matSuffix>email</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="input-group mb-3">
                                        <mat-form-field  class="full-width">
                                            <mat-label>{{ 'portal-alugo.login.nome' | translate }}</mat-label>
                                            <input matInput formControlName="nome">
                                            <mat-error *ngIf="formularioCadastro.controls.nome.errors && formularioCadastro.controls.nome.errors.required">
                                                {{ 'portal-alugo.login.nomePreenchimento' | translate }}
                                              </mat-error>
                                            <mat-icon matSuffix>person_pin</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="input-group mb-2">
                                                <mat-form-field class="full-width">
                                                    <mat-label>{{ 'portal-alugo.login.cpf' | translate }}</mat-label>
                                                    <input matInput formControlName="cpf" mask="000.000.000-00" placeholder="{{ 'portal-alugo.login.exCpf' | translate }}">
                                                    <mat-error *ngIf="formularioCadastro.controls.cpf.errors && formularioCadastro.controls.cpf.errors.required">
                                                        {{ 'portal-alugo.login.cpfPreenchimento' | translate }}
                                                      </mat-error>
                                                      <mat-error *ngIf="formularioCadastro.controls.cpf.errors && formularioCadastro.controls.cpf.errors.minlength">
                                                        {{ 'portal-alugo.login.cpfMenosDigitos' | translate }}
                                                      </mat-error>
                                                      <mat-error *ngIf="formularioCadastro.controls.cpf.errors && formularioCadastro.controls.cpf.errors.maxlength">
                                                        {{ 'portal-alugo.login.cpfMuitosDigitos' | translate }}
                                                      </mat-error>
                                                    <mat-icon matSuffix>local_library</mat-icon>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="input-group mb-2">
                                                <mat-form-field  class="full-width">
                                                    <mat-label>{{ 'portal-alugo.login.telefone' | translate }}</mat-label>
                                                    <span matPrefix>+55 &nbsp;</span>
                                                    <input matInput formControlName="celular" mask="(00) 0000-0000||(00) 0 0000-0000" placeholder="{{ 'portal-alugo.login.exTelefone' | translate }}">
                                                    <mat-error *ngIf="formularioCadastro.controls.celular.errors && formularioCadastro.controls.celular.errors.required">
                                                        {{ 'portal-alugo.login.telefoneVazio' | translate }}
                                                      </mat-error>
                                                    <mat-icon matSuffix>local_phone</mat-icon>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="input-group mb-2">
                                                <mat-form-field class="full-width">
                                                    <mat-label>{{ 'portal-alugo.login.senha' | translate }}</mat-label>
                                                    <input matInput formControlName="senha" type="password" placeholder="*****">
                                                    <mat-icon matSuffix>lock</mat-icon>
                                                    <mat-error *ngIf="formularioCadastro.controls.senha.errors && formularioCadastro.controls.senha.errors.required">
                                                        {{ 'portal-alugo.login.senhaVazia' | translate }}
                                                      </mat-error>
                                                      <mat-error *ngIf="formularioCadastro.controls.senha.errors && formularioCadastro.controls.senha.errors.minlength">
                                                        Deve ter no mínimo 8 caracteres##
                                                      </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="input-group mb-2">
                                                <mat-form-field  class="full-width">
                                                    <mat-label>{{ 'portal-alugo.login.confirmaSenha' | translate }}</mat-label>
                                                    <input matInput formControlName="confirmaSenha" type="password" placeholder="*****">
                                                    <mat-error *ngIf="formularioCadastro.controls.confirmaSenha.errors && formularioCadastro.controls.confirmaSenha.errors.required">
                                                        {{ 'portal-alugo.login.senhaVazia' | translate }}
                                                      </mat-error>
                                                      <mat-error *ngIf="formularioCadastro.controls.confirmaSenha.value != formularioCadastro.controls.senha.value">
                                                        {{ 'portal-alugo.login.senhaNConfere' | translate }}
                                                      </mat-error>
                                                    <mat-icon matSuffix>lock</mat-icon>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" mat-flat-button class="btn btn-success btn-user btn-block">{{ 'portal-alugo.login.registrar' | translate }}</button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="nav-link" href="#corpoLogin" data-toggle="tab" role="tab"
                                    aria-selected="false">{{ 'portal-alugo.login.temConta' | translate }}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row fade tab-pane" id="esqueciSenha">
                        <div class="col-lg-12">
                          <div class="p-5">
                            <div class="text-center">
                              <h1 class="h4 text-gray-900 mb-2">{{ 'portal-alugo.login.esqueceuSenha' | translate }}</h1>
                              <p class="mb-4">{{ 'portal-alugo.login.txtInfoRecuperarSenha' | translate }}</p>
                            </div>
                            <form class="user">
                                <div class="input-group mb-3">
                                    <mat-form-field class="full-width">
                                        <mat-label>{{ 'portal-alugo.login.email' | translate }}</mat-label>
                                        <input matInput placeholder="Ex: pessoa@pessoa.com">
                                        <mat-icon matSuffix>person_pin</mat-icon>
                                    </mat-form-field>
                                </div>
                                <input class="btn btn-warning btn-user btn-block"
                                value="Recuperar senha">
                            </form>
                          </div>
                        </div>
                      </div>

                </div>
            </div>
        </div>
    </div>
</div>