<div class="bg-light box-shadow-lg rounded-lg overflow-hidden">
    <section class="col-lg-12 pt-lg-8 pb-4 mb-3">
      <div class="pt-2 px-4 pl-lg-0 pr-xl-5">
        <form [formGroup]="formularioLocais" (ngSubmit)="inputaLocais()">
            <h4>Locais e horários de entrega e devoluções dos produtos:</h4>
            <br>
            <h5>Informações da entrega:</h5>
            <div class="form-group pb-2">
              <mat-form-field class="full-width">
                <mat-label>{{ 'campos.label.cep' | translate }}</mat-label>
                <input  formControlName="cepEntrega" (blur)="preencheCep(1)" mask="00000-000" matInput placeholder="{{ 'campos.label.placeholdercep' | translate }}">
                <mat-icon class="text-primary"  matSuffix>lock</mat-icon>
              </mat-form-field>            
              
            </div>
            <div class="form-group pb-2">
                <!-- Logradouro Entrega -->
                <mat-form-field class="full-width">
                    <mat-label>{{ 'campos.label.endereco' | translate }}</mat-label>
                    <input matInput formControlName="enderecoEntrega" placeholder="{{ 'campos.label.placeholderendereco' | translate }}">
                    <mat-icon class="text-primary"  matSuffix>streetview</mat-icon>
                </mat-form-field>
            </div>
            <div class="form-group pb-2">
                <!-- Bairro -->
                <mat-form-field class="full-width">
                    <mat-label>{{ 'campos.label.bairro' | translate }}</mat-label>
                    <input  formControlName="bairroEntrega" matInput placeholder="{{ 'campos.label.placeholderbairro' | translate }}">
                    <mat-icon class="text-primary"  matSuffix>lock</mat-icon>
                </mat-form-field>
            </div>
            <div class="form-group pb-2">
                <!-- Descrição Entrega -->
                <mat-form-field class="full-width">
                    <mat-label>Descrição do local</mat-label>
                    <input formControlName="descricaoEntrega" matInput placeholder="Shopping principal, praça de alimentação.">
                    <mat-icon class="text-primary"  matSuffix>lock</mat-icon>
                </mat-form-field>
            </div>
            <div class="form-group pb-2">
                <!-- Horário -->
                <mat-form-field class="full-width">
                    <mat-label>Horário</mat-label>
                    <input formControlName="horarioEntrega" matInput [ngxMatDatetimePicker]="picker" placeholder="Escolha a data e o horário">                    
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>                
                    <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
                </mat-form-field>
            </div>
            
            <br>
            <h5>Informações da devolução:</h5>
            <div class="form-group pb-2">
              <mat-form-field  class="full-width">
                <mat-label>{{ 'campos.label.cep' | translate }}</mat-label>
                <input  formControlName="cepDevolucao" (blur)="preencheCep(2)" mask="00000-000" matInput placeholder="{{ 'campos.label.placeholdercep' | translate }}">
                <mat-icon class="text-primary"  matSuffix>lock</mat-icon>
              </mat-form-field>            
              
            </div>
            <div class="form-group pb-2">
                <!-- Logradouro Entrega -->
                <mat-form-field  class="full-width">
                    <mat-label>{{ 'campos.label.endereco' | translate }}</mat-label>
                    <input matInput formControlName="enderecoDevolucao" placeholder="{{ 'campos.label.placeholderendereco' | translate }}">
                    <mat-icon class="text-primary"  matSuffix>streetview</mat-icon>
                </mat-form-field>
            </div>
            <div class="form-group pb-2">
                <!-- Bairro -->
                <mat-form-field class="full-width">
                    <mat-label>{{ 'campos.label.bairro' | translate }}</mat-label>
                    <input  formControlName="bairroDevolucao" matInput placeholder="{{ 'campos.label.placeholderbairro' | translate }}">
                    <mat-icon class="text-primary"  matSuffix>lock</mat-icon>
                </mat-form-field>
            </div>
            <div class="form-group pb-2">
                <!-- Descrição Entrega -->
                <mat-form-field  class="full-width">
                    <mat-label>Descrição do local</mat-label>
                    <input  formControlName="descricaoDevolucao" matInput placeholder="Shopping principal, praça de alimentação.">
                    <mat-icon class="text-primary"  matSuffix>lock</mat-icon>
                </mat-form-field>
            </div>
            <div class="form-group pb-2">
                <!-- Horário -->
                <mat-form-field class="full-width">
                    <mat-label>Horário</mat-label>
                    <input formControlName="horarioDevolucao" matInput [ngxMatDatetimePicker]="picker1" placeholder="Escolha a data e o horário">                    
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>                
                    <ngx-mat-datetime-picker #picker1></ngx-mat-datetime-picker> 
                </mat-form-field>
            </div>
            <button class="btn btn-primary btn-block" type="submit"><i
                class="fa fa-edit font-size-lg mr-2"></i>Salvar locais e horários</button>
        </form>
      </div>
    </section>
  </div>