<div class="page-title-overlap pt-4" style="background-color: #324a81;">
  <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
    <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
      <h1 class="h3 text-light mb-0">{{ 'cliente.cliente-layout.suasinfos' | translate }}</h1>
    </div>
  </div>
</div>
<div class="container pb-5 mb-2 mb-md-3">
    <div class="row">
      <aside class="col-lg-4 pt-4 pt-lg-0">
        <div class="cz-sidebar-static rounded-lg box-shadow-lg px-0 pb-0 mb-5 mb-lg-0">
          <div class="px-4 mb-4">
            <div class="media align-items-center">
              <div class="img-thumbnail rounded-circle position-relative" style="width: 6.375rem;"><span class="badge badge-warning" data-toggle="tooltip" title="Reward points">10</span>
                <img class="rounded-circle" *ngIf="!currentUsuario.capa_foto" src="../../../assets/imagens/avatar.svg" width="90" alt="{{ 'cliente.cliente-layout.usuarioLogado' | translate }}">
        	      <img class="rounded-circle" *ngIf="currentUsuario.capa_foto" src="data:image/jpg;base64,{{currentUsuario.capa_foto}}" width="90" alt="Dilan Lima">
              </div>
                <!-- <img class="rounded-circle" src="../../../assets/imagens/avatar.svg" alt="Dilan Lima"> -->
              <div class="media-body pl-3">
                <h3 class="font-size-base mb-0">{{ currentUsuario.nome }}</h3><span class="text-accent font-size-sm">{{ currentUsuario.login }}</span>
              </div>
            </div>
          </div>
          <div class="bg-secondary px-4 py-3">
            <h3 class="font-size-sm mb-0 text-muted">{{ 'cliente.cliente-layout.containfos' | translate }}</h3>
          </div>
          <ul class="list-unstyled mb-0">
            <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" routerLink="/cliente/perfil/dados"><i class="fa fa-user opacity-60 mr-2"></i>{{ 'cliente.cliente-layout.perfil' | translate }}</a></li>
            <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" routerLink="/cliente/perfil/credenciais"><i class="fa fa-user opacity-60 mr-2"></i>{{ 'cliente.cliente-layout.credenciais' | translate }}</a></li>
          </ul>
          <div class="bg-secondary px-4 py-3">
            <h3 class="font-size-sm mb-0 text-muted">{{ 'cliente.cliente-layout.transacoes' | translate }}</h3>
          </div>
          <ul class="list-unstyled mb-0">
            <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" routerLink="/cliente/perfil/alugueis-locador"><i class="fa fa-user-check opacity-60 mr-2"></i>{{ 'cliente.cliente-layout.locador' | translate }}<span class="font-size-sm text-muted ml-auto">1</span></a></li>
            <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" routerLink="/cliente/perfil/alugueis-locatario"><i class="fa fa-user-check opacity-60 mr-2"></i>{{ 'cliente.cliente-layout.locatario' | translate }}<span class="font-size-sm text-muted ml-auto">5</span></a></li>
          </ul>
          <div class="bg-secondary px-4 py-3">
            <h3 class="font-size-sm mb-0 text-muted">{{ 'cliente.cliente-layout.seusprodutos' | translate }}</h3>
          </div>
          <ul class="list-unstyled mb-0">
            <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" routerLink="/cliente/perfil/meusprodutos"><i class="fa fa-product-hunt opacity-60 mr-2"></i>{{ 'cliente.cliente-layout.listagem' | translate }}<span class="font-size-sm text-muted ml-auto">{{listProdutos.length}}</span></a></li>
            <!-- <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" routerLink="/cliente/perfil/meusprodutos"><i class="fa fa-product-hunt opacity-60 mr-2"></i>{{ 'cliente.cliente-layout.inativos' | translate }}<span class="font-size-sm text-muted ml-auto">1</span></a></li> -->
          </ul>
          <!-- <div class="bg-secondary px-4 py-3">
            <h3 class="font-size-sm mb-0 text-muted">{{ 'cliente.cliente-layout.pagamentos' | translate }}</h3>
          </div>
          <ul class="list-unstyled mb-0">
            <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href=""><i class="fa fa-money-bill-alt opacity-60 mr-2"></i>{{ 'cliente.cliente-layout.vencimentos' | translate }}<span class="font-size-sm text-muted ml-auto">1</span></a></li>
            <li class="mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href=""><i class="fa fa-credit-card opacity-60 mr-2"></i>{{ 'cliente.cliente-layout.infospagamento' | translate }}</a></li>
          </ul> -->
          
        </div>
      </aside>
      <section class="col-lg-8">
        <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
          <h6 class="font-size-base text-light mb-0"></h6>
          <a class="btn btn-primary btn-sm" (click)="logout()"><i class="fa fa-sign-out mr-2"></i>{{ 'cliente.cliente-layout.sair' | translate }}</a>
        </div>
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>