<!-- Profile form-->
<form [formGroup]="formularioCliente" (ngSubmit)="updateUsuario()">
  <div class="bg-secondary rounded-lg p-4 mb-4">
    <div class="media align-items-center">
      <div *ngIf="!novaFoto">
        <img *ngIf="!currentUsuarioLogado.capa_foto" src="../../../assets/imagens/avatar.svg" width="90" height="45" alt="##">
        <img *ngIf="currentUsuarioLogado.capa_foto" src="data:image/jpg;base64,{{currentUsuarioLogado.capa_foto}}" width="90" alt="##">
      </div>
      <div *ngIf="novaFoto">
        <img [src]="novaFoto" width="90" alt="##">
      </div>
      
      <div class="media-body pl-3">
        <input class="btn btn-light btn-shadow btn-sm mb-2" (change)="setNovaFotoUser($event)" type="file">
        <!-- <button class="btn btn-light btn-shadow btn-sm mb-2"><i class="fa fa-exchange-alt mr-2"></i>{{ 'cliente.cliente-perfil.mudarfoto' | translate }}</button> -->
        <div class="p mb-0 font-size-ms text-muted">{{ 'cliente.cliente-perfil.uploadfoto' | translate }}</div>
      </div>
    </div>
  </div>
  <div class="row">

  </div>
  <div *ngIf="mensagemErro" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Aviso!! </strong>Nem todos os campos estão corretos! Por favor revise##
  </div>
  <div *ngIf="mensagemSucesso" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Boa!! </strong>{{mensagemSucesso}}
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field  class="full-width">
          <mat-label>{{ 'campos.label.nome' | translate }}</mat-label>
          <input formControlName="nome" matInput placeholder="{{ 'campos.label.placeholdernome' | translate }}">
          <mat-error *ngIf="formularioCliente.controls.nome.errors && formularioCliente.controls.nome.errors.required">
            Você precisa preencher o nome##
          </mat-error>
          <mat-icon class="text-primary"  matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field  class="full-width">
          <mat-label>CPF</mat-label>
          <input  formControlName="cpf" mask="000.000.000-00" matInput placeholder="123.456.789-01">
        <mat-hint align="end">11 Digitos##</mat-hint>
          <mat-icon class="text-primary" matSuffix >lock</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field  class="full-width">
          <mat-label>{{ 'campos.label.email' | translate }}</mat-label>
          <input  formControlName="email" matInput placeholder="{{ 'campos.label.placeholderemail' | translate }}">
          <mat-error *ngIf="formularioCliente.controls.email.errors && formularioCliente.controls.email.errors.required">
            Você precisa preencher o email##
          </mat-error>
          <mat-error *ngIf="formularioCliente.controls.email.errors && formularioCliente.controls.email.errors.email">
            o email precisa ser válido##
          </mat-error>
          <mat-icon class="text-primary"  matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field  class="full-width">
          <mat-label>Login</mat-label>
          <input  formControlName="login" matInput placeholder="joaosilva##">
          <mat-error *ngIf="formularioCliente.controls.login.errors && formularioCliente.controls.login.errors.required">
            Vocë precisa ter um login##
          </mat-error>
          <mat-icon class="text-primary"  matSuffix>pin_user</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field class="full-width">
          <mat-label>Selecione uma Data##</mat-label>
          <input matInput [matDatepicker]="picker" disabled formControlName="dataNascimento">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field  class="full-width">
          <mat-label>{{ 'campos.label.telefone' | translate }}</mat-label>
          <input  formControlName="celular" mask="(00) 0 0000-0000" matInput placeholder="(11) 9 8838-9393##">
          <mat-icon class="text-primary"  matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field  class="full-width">
          <mat-label>CEP##</mat-label>
          <input  formControlName="cep" mask="00000-000" matInput placeholder="08664967##">
          <mat-icon class="text-primary"  matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field  class="full-width">
          <mat-label>{{ 'campos.label.endereco' | translate }}</mat-label>
          <input  formControlName="endereco" matInput placeholder="{{ 'campos.label.placeholderendereco' | translate }}">
          <mat-icon class="text-primary"  matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field  class="full-width">
          <mat-label>{{ 'campos.label.numero' | translate }}</mat-label>
          <input  formControlName="numero" matInput placeholder="321##">
          <mat-icon class="text-primary"  matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field  class="full-width">
          <mat-label>{{ 'campos.label.complemento' | translate }}</mat-label>
          <input  formControlName="complemento" matInput placeholder="apt 91##">
          <mat-icon class="text-primary"  matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field  class="full-width">
          <mat-label>Bairro##</mat-label>
          <input  formControlName="bairro" matInput placeholder="Barcelona##">
          <mat-icon class="text-primary"  matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
    </div>
    
    <div class="col-12">
      <hr class="mt-2 mb-3">
      <div class="d-flex flex-wrap justify-content-between align-items-center">
        <button class="btn btn-primary mt-3 mt-sm-0" type="submit">{{ 'cliente.cliente-perfil.atualizarperfil' | translate }}</button>
      </div>
    </div>
  </div>
</form>

