<!-- Profile form-->
<form>
  <div class="bg-secondary rounded-lg p-4 mb-4">
    <div class="media align-items-center"><img src="../../../assets/imagens/shop/account/dilan.jpg" width="90" alt="Dilan Lima">
      <div class="media-body pl-3">
        <button class="btn btn-light btn-shadow btn-sm mb-2" type="button"><i class="fa fa-exchange-alt mr-2"></i>Mudar Foto</button>
        <div class="p mb-0 font-size-ms text-muted">Upload JPG, GIF ou PNG image. 300 x 300 necessário</div>
      </div>
    </div>
  </div>
  <div class="row">

  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field  class="full-width">
          <mat-label>Nome</mat-label>
          <input name="nome" matInput placeholder="João das Neves">
          <mat-icon class="text-primary"  matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field  class="full-width">
          <mat-label>CPF</mat-label>
          <input name="cpf" matInput placeholder="123.456.789-01">
          <mat-hint align="start"><strong>Sem pontos ou traços</strong> </mat-hint>
        <mat-hint align="end">max 11</mat-hint>
          <mat-icon class="text-primary" matSuffix >lock</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field  class="full-width">
          <mat-label>Email</mat-label>
          <input  name="email" matInput placeholder="Ex: pessoa@pessoa.com">
          <mat-hint align="start"><strong>este será seu login</strong> </mat-hint>
          <mat-icon class="text-primary"  matSuffix>person_pin</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field  class="full-width">
          <mat-label>Telefone</mat-label>
          <input name="telefone" matInput placeholder="(11) 98838-9393)">
          <mat-icon class="text-primary"  matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field  class="full-width">
          <mat-label>CEP</mat-label>
          <input  name="cep" matInput placeholder="08664-967">
          <mat-hint align="start"><strong>Sem pontos ou traços</strong> </mat-hint>
          <mat-icon class="text-primary"  matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field  class="full-width">
          <mat-label>Endereço</mat-label>
          <input  name="endereco" matInput placeholder="Rua capitão joão">
          <mat-icon class="text-primary"  matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field  class="full-width">
          <mat-label>Número</mat-label>
          <input  name="numero" matInput placeholder="321">
          <mat-icon class="text-primary"  matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <mat-form-field  class="full-width">
          <mat-label>Complemento</mat-label>
          <input  name="complemento" matInput placeholder="apt 91">
          <mat-icon class="text-primary"  matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
    </div>
    
    <div class="col-12">
      <hr class="mt-2 mb-3">
      <div class="d-flex flex-wrap justify-content-between align-items-center">
        <button class="btn btn-primary mt-3 mt-sm-0" type="button">Atualizar Perfil</button>
      </div>
    </div>
  </div>
</form>

