<div class="bg-light box-shadow-lg rounded-lg overflow-hidden">
  <section class="col-lg-12 pt-lg-8 pb-4 mb-3">
    <div class="pt-2 px-4 pl-lg-0 pr-xl-5">
      <form [formGroup]="formularioProduto" (ngSubmit)="inputaProduto()">
        <mat-checkbox class="ins-invalid" formControlName="ativo">Ativo?##</mat-checkbox>
        <div class="form-group pb-2">
          <label class="font-weight-medium" for="unp-product-name">{{ 'clientes.cliente-produto.nomeproduto' | translate }}</label>
          <mat-form-field  class="full-width">
            <mat-label>Nome do Produto##</mat-label>
            <input  formControlName="nome" matInput placeholder="##">
            <mat-error *ngIf="formularioProduto.controls.nome.errors && formularioProduto.controls.nome.errors.required">
              Você precisa dar um nome para o produto##
            </mat-error>
          <mat-hint align="end">##</mat-hint>
            <mat-icon class="text-primary" matSuffix >lock</mat-icon>
          </mat-form-field>
          
          
        </div>
        <div class="cz-file-drop-area form-group">
          <div class="cz-file-drop-icon fa fa-file-alt"></div><span class="cz-file-drop-message">{{ 'clientes.cliente-produto.uploadfoto' | translate }}</span>
          <input class="cz-file-drop-input" type="file">
          <button class="cz-file-drop-btn btn btn-primary btn-sm mb-2" type="button">{{ 'clientes.cliente-produto.selecaoarquivo' | translate }}</button><small
            class="form-text text-muted">{{ 'clientes.cliente-produto.tamanhoideal' | translate }}</small>
        </div>
        <div class="form-group py-2">
          <label class="font-weight-medium">{{ 'clientes.cliente-produto.descricao' | translate }}</label>
          <textarea formControlName="descricao" [ngClass]="{'is-invalid': erroDescricao}" class="form-control" rows="6"></textarea>
          <div class="invalid-feedback">
            Descrição do produto é necessária!##
          </div>
          <small class="form-text text-muted">Completa com o maior número de detalhes que puder##</small>
        </div>
        <div class="form-group py-2">
          <label class="font-weight-medium">Descricão Curta##</label>
          <textarea formControlName="descricao_curta" [ngClass]="{'is-invalid': erroDescricaoCurta}" class="form-control " rows="3"></textarea>
          <div class="invalid-feedback">
            Descrição curta do produto é necessária!##
          </div>
          <small class="form-text text-muted">Necessário para atrair o locador##</small>
          
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <mat-form-field  class="full-width">
                <mat-label>Valor Produto##</mat-label>
                <input  formControlName="valor_produto" matInput placeholder="##">
                <mat-error *ngIf="formularioProduto.controls.valor_produto.errors && formularioProduto.controls.valor_produto.errors.required">
                  Valor do produto não informado##
                </mat-error>
              <mat-hint align="end">Valor Pago no produto##</mat-hint>
                <mat-icon class="text-primary" matSuffix >lock</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <mat-form-field  class="full-width">
                <mat-label>Valor Base Mensal##</mat-label>
                <input  formControlName="valor_base_mensal" matInput placeholder="##">
                <mat-error *ngIf="formularioProduto.controls.valor_base_mensal.errors && formularioProduto.controls.valor_base_mensal.errors.required">
                  Valor base mensal não definido##
                </mat-error>
              <mat-hint align="end">Valor Calculado aproximado##</mat-hint>
                <mat-icon class="text-primary" matSuffix >lock</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <mat-form-field  class="full-width">
                <mat-label>Valor Base Diario##</mat-label>
                <input  formControlName="valor_base_diaria" matInput placeholder="##">
                <mat-error *ngIf="formularioProduto.controls.valor_base_diaria.errors && formularioProduto.controls.valor_base_diaria.errors.required">
                  Valor base diaria não definido##
                </mat-error>
              <mat-hint align="end">valor Calculado Aproximado</mat-hint>
                <mat-icon class="text-primary" matSuffix >lock</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <mat-form-field>
                <mat-label>Data Compra##</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="data_compra">
                <mat-error *ngIf="formularioProduto.controls.data_compra.errors && formularioProduto.controls.data_compra.errors.required">
                  Data de compra não definida##
                </mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
        <button class="btn btn-primary btn-block" type="submit"><i
            class="fa fa-edit font-size-lg mr-2"></i>{{ 'clientes.cliente-produto.addeditprod' | translate }}</button>
      </form>
    </div>
  </section>
</div>