<header class="box-shadow-sm">
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
    <div class="navbar-sticky bg-light">
        <div class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand d-none d-sm-block mr-3 flex-shrink-0" href="index-2.html" style="min-width: 7rem;">
                    <img width="142" src="../../assets/imagens/alugoIcon.PNG" alt="Cartzilla" />
                </a>
                <a class="navbar-brand d-sm-none mr-2" href="index-2.html" style="min-width: 4.625rem;">
                    <img width="74" src="../../assets/imagens/alugoIcon.PNG" alt="Cartzilla" />
                </a>
                <div class="input-group-overlay d-none d-lg-flex mx-4">
                    <input class="form-control appended-form-control" type="text" placeholder="Procurar produtos">
                    <div class="input-group-append-overlay">
                        <span class="input-group-text">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
                <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-tool navbar-stuck-toggler" href="#">
                        <span class="navbar-tool-tooltip">Expandir Menu</span>
                        <div class="navbar-tool-icon-box">
                            <i class="navbar-tool-icon fa fa-menu"></i>
                        </div>
                    </a>
                    <a class="navbar-tool ml-1 ml-lg-0 mr-n1 mr-lg-2" href="#signin-modal" data-toggle="modal">
                        <div class="navbar-tool-icon-box">
                            <i class="navbar-tool-icon fa fa-user"></i>
                        </div>
                        <div class="navbar-tool-text ml-n3">
                            <small>Olá, Dilan</small>Minha Conta
                        </div>
                    </a>

                </div>
            </div>
        </div>
        <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <!-- Search-->
                    <div class="input-group-overlay d-lg-none my-3">
                        <div class="input-group-prepend-overlay"><span class="input-group-text"><i
                                    class="fa fa-search"></i></span></div>
                        <input class="form-control prepended-form-control" type="text"
                            placeholder="Procurar produtos">
                    </div>
                    <!-- Departments menu-->
                    <ul class="navbar-nav mega-nav pr-lg-2 mr-lg-2">
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle pl-0" href="#"
                                data-toggle="dropdown"><i class="fa fa-grid mr-2"></i>Departments</a>
                            <div class="dropdown-menu px-2 pl-0 pb-4">
                                <div class="d-flex flex-wrap flex-md-nowrap">
                                    <div class="mega-dropdown-column pt-4 px-3">
                                        <div class="widget widget-links"><a
                                                class="d-block overflow-hidden rounded-lg mb-3" href="#"><img
                                                    src="../../assets/imagens/shop/departments/01.jpg" alt="Shoes" /></a>
                                            <h6 class="font-size-base mb-2">Clothing</h6>
                                            <ul class="widget-list">
                                                <li class="widget-list-item"><a class="widget-list-link"
                                                        href="#">Women's clothing</a></li>
                                                <li class="widget-list-item"><a class="widget-list-link" href="#">Men's
                                                        clothing</a></li>
                                                <li class="widget-list-item"><a class="widget-list-link" href="#">Kid's
                                                        clothing</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mega-dropdown-column pt-4 px-3">
                                        <div class="widget widget-links"><a
                                                class="d-block overflow-hidden rounded-lg mb-3" href="#"><img
                                                    src="../../assets/imagens/shop/departments/02.jpg" alt="Shoes" /></a>
                                            <h6 class="font-size-base mb-2">Shoes</h6>
                                            <ul class="widget-list">
                                                <li class="widget-list-item"><a class="widget-list-link"
                                                        href="#">Women's shoes</a></li>
                                                <li class="widget-list-item"><a class="widget-list-link" href="#">Men's
                                                        shoes</a></li>
                                                <li class="widget-list-item"><a class="widget-list-link" href="#">Kid's
                                                        shoes</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mega-dropdown-column pt-4 px-3">
                                        <div class="widget widget-links"><a
                                                class="d-block overflow-hidden rounded-lg mb-3" href="#"><img
                                                    src="../../assets/imagens/shop/departments/03.jpg" alt="Shoes" /></a>
                                            <h6 class="font-size-base mb-2">Gadgets</h6>
                                            <ul class="widget-list">
                                                <li class="widget-list-item"><a class="widget-list-link"
                                                        href="#">Smartphones &amp; Tablets</a></li>
                                                <li class="widget-list-item"><a class="widget-list-link"
                                                        href="#">Wearable gadgets</a></li>
                                                <li class="widget-list-item"><a class="widget-list-link" href="#">E-book
                                                        readers</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap flex-md-nowrap">
                                    <div class="mega-dropdown-column pt-4 px-3">
                                        <div class="widget widget-links"><a
                                                class="d-block overflow-hidden rounded-lg mb-3" href="#"><img
                                                    src="../../assets/imagens/shop/departments/04.jpg" alt="Shoes" /></a>
                                            <h6 class="font-size-base mb-2">Furniture &amp; Decor</h6>
                                            <ul class="widget-list">
                                                <li class="widget-list-item"><a class="widget-list-link" href="#">Home
                                                        furniture</a></li>
                                                <li class="widget-list-item"><a class="widget-list-link" href="#">Office
                                                        furniture</a></li>
                                                <li class="widget-list-item"><a class="widget-list-link"
                                                        href="#">Lighting and decoration</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mega-dropdown-column pt-4 px-3">
                                        <div class="widget widget-links"><a
                                                class="d-block overflow-hidden rounded-lg mb-3" href="#"><img
                                                    src="../../assets/imagens/shop/departments/05.jpg" alt="Shoes" /></a>
                                            <h6 class="font-size-base mb-2">Accessories</h6>
                                            <ul class="widget-list">
                                                <li class="widget-list-item"><a class="widget-list-link"
                                                        href="#">Hats</a></li>
                                                <li class="widget-list-item"><a class="widget-list-link"
                                                        href="#">Sunglasses</a></li>
                                                <li class="widget-list-item"><a class="widget-list-link"
                                                        href="#">Bags</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mega-dropdown-column pt-4 px-3">
                                        <div class="widget widget-links"><a
                                                class="d-block overflow-hidden rounded-lg mb-3" href="#"><img
                                                    src="../../assets/imagens/shop/departments/06.jpg" alt="Shoes" /></a>
                                            <h6 class="font-size-base mb-2">Entertainment</h6>
                                            <ul class="widget-list">
                                                <li class="widget-list-item"><a class="widget-list-link" href="#">Kid's
                                                        toys</a></li>
                                                <li class="widget-list-item"><a class="widget-list-link" href="#">Video
                                                        games</a></li>
                                                <li class="widget-list-item"><a class="widget-list-link"
                                                        href="#">Outdoor / Camping</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- Primary menu-->
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#"
                                data-toggle="dropdown">Shop</a>
                            <div class="dropdown-menu p-0">
                                <div class="d-flex flex-wrap flex-md-nowrap px-2">
                                    <div class="mega-dropdown-column py-4 px-3">
                                        <div class="widget widget-links mb-3">
                                            <h6 class="font-size-base mb-3">Shop layouts</h6>
                                            <ul class="widget-list">
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="shop-grid-ls.html">Shop Grid - Left Sidebar</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="shop-grid-rs.html">Shop Grid - Right Sidebar</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="shop-grid-ft.html">Shop Grid - Filters on Top</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="shop-list-ls.html">Shop List - Left Sidebar</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="shop-list-rs.html">Shop List - Right Sidebar</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="shop-list-ft.html">Shop List - Filters on Top</a></li>
                                            </ul>
                                        </div>
                                        <div class="widget widget-links">
                                            <h6 class="font-size-base mb-3">Marketplace</h6>
                                            <ul class="widget-list">
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="marketplace-category.html">Category Page</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="marketplace-single.html">Single Item Page</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="marketplace-vendor.html">Vendor Page</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="marketplace-cart.html">Cart</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="marketplace-checkout.html">Checkout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mega-dropdown-column py-4 px-3">
                                        <div class="widget widget-links">
                                            <h6 class="font-size-base mb-3">Shop pages</h6>
                                            <ul class="widget-list">
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="shop-categories.html">Shop Categories</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="shop-single-v1.html">Product Page v.1</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="shop-single-v2.html">Product Page v.2</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="shop-cart.html">Cart</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="checkout-details.html">Checkout - Details</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="checkout-shipping.html">Checkout - Shipping</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="checkout-payment.html">Checkout - Payment</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="checkout-review.html">Checkout - Review</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="checkout-complete.html">Checkout - Complete</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="order-tracking.html">Order Tracking</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="comparison.html">Product Comparison</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mega-dropdown-column py-4 pr-3">
                                        <div class="widget widget-links mb-3">
                                            <h6 class="font-size-base mb-3">Grocery store</h6>
                                            <ul class="widget-list">
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="grocery-catalog.html">Product Catalog</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="grocery-single.html">Single Product Page</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="grocery-checkout.html">Checkout</a></li>
                                            </ul>
                                        </div>
                                        <div class="widget widget-links">
                                            <h6 class="font-size-base mb-3">Food Delivery</h6>
                                            <ul class="widget-list">
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="food-delivery-category.html">Category Page</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="food-delivery-single.html">Single Item (Restaurant)</a>
                                                </li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="food-delivery-cart.html">Cart (Your Order)</a></li>
                                                <li class="widget-list-item pb-1"><a class="widget-list-link"
                                                        href="food-delivery-checkout.html">Checkout (Address &amp;
                                                        Payment)</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#"
                                data-toggle="dropdown">Account</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#"
                                        data-toggle="dropdown">Shop User Account</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="account-orders.html">Orders History</a></li>
                                        <li><a class="dropdown-item" href="account-profile.html">Profile Settings</a>
                                        </li>
                                        <li><a class="dropdown-item" href="account-address.html">Account Addresses</a>
                                        </li>
                                        <li><a class="dropdown-item" href="account-payment.html">Payment Methods</a>
                                        </li>
                                        <li><a class="dropdown-item" href="account-wishlist.html">Wishlist</a></li>
                                        <li><a class="dropdown-item" href="account-tickets.html">My Tickets</a></li>
                                        <li><a class="dropdown-item" href="account-single-ticket.html">Single Ticket</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#"
                                        data-toggle="dropdown">Vendor Dashboard</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="dashboard-settings.html">Settings</a></li>
                                        <li><a class="dropdown-item" href="dashboard-purchases.html">Purchases</a></li>
                                        <li><a class="dropdown-item" href="dashboard-favorites.html">Favorites</a></li>
                                        <li><a class="dropdown-item" href="dashboard-sales.html">Sales</a></li>
                                        <li><a class="dropdown-item" href="dashboard-products.html">Products</a></li>
                                        <li><a class="dropdown-item" href="dashboard-add-new-product.html">Add New
                                                Product</a></li>
                                        <li><a class="dropdown-item" href="dashboard-payouts.html">Payouts</a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="account-signin.html">Sign In / Sign Up</a></li>
                                <li><a class="dropdown-item" href="account-password-recovery.html">Password Recovery</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#"
                                data-toggle="dropdown">Pages</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#"
                                        data-toggle="dropdown">Navbar Variants</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="navbar-1-level-light.html">1 Level Light</a>
                                        </li>
                                        <li><a class="dropdown-item" href="navbar-1-level-dark.html">1 Level Dark</a>
                                        </li>
                                        <li><a class="dropdown-item" href="navbar-2-level-light.html">2 Level Light</a>
                                        </li>
                                        <li><a class="dropdown-item" href="navbar-2-level-dark.html">2 Level Dark</a>
                                        </li>
                                        <li><a class="dropdown-item" href="navbar-3-level-light.html">3 Level Light</a>
                                        </li>
                                        <li><a class="dropdown-item" href="navbar-3-level-dark.html">3 Level Dark</a>
                                        </li>
                                        <li><a class="dropdown-item" href="home-electronics-store.html">Electronics
                                                Store</a></li>
                                        <li><a class="dropdown-item" href="home-marketplace.html">Marketplace</a></li>
                                        <li><a class="dropdown-item" href="home-grocery-store.html">Side Menu
                                                (Grocery)</a></li>
                                        <li><a class="dropdown-item" href="home-single-store.html">Transparent</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="about.html">About Us</a></li>
                                <li><a class="dropdown-item" href="contacts.html">Contacts</a></li>
                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#"
                                        data-toggle="dropdown">Help Center</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="help-topics.html">Help Topics</a></li>
                                        <li><a class="dropdown-item" href="help-single-topic.html">Single Topic</a></li>
                                        <li><a class="dropdown-item" href="help-submit-request.html">Submit a
                                                Request</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#"
                                        data-toggle="dropdown">404 Not Found</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="404-simple.html">404 - Simple Text</a></li>
                                        <li><a class="dropdown-item" href="404-illustration.html">404 - Illustration</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>


<router-outlet></router-outlet>

<footer class="bg-dark pt-5">
    <div class="container">
        <div class="row pb-2">
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">Shop departments</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Sneakers &amp; Athletic</a>
                        </li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Athletic Apparel</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Sandals</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Jeans</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Shirts &amp; Tops</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Shorts</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">T-Shirts</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Swimwear</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Clogs &amp; Mules</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Bags &amp; Wallets</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Accessories</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Sunglasses &amp; Eyewear</a>
                        </li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Watches</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">Account &amp; shipping info</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Your account</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Shipping rates &amp;
                                policies</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Refunds &amp; replacements</a>
                        </li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Order tracking</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Delivery info</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Taxes &amp; fees</a></li>
                    </ul>
                </div>
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">About us</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link" href="#">About company</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Our team</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Careers</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">News</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget pb-2 mb-4">
                    <h3 class="widget-title text-light pb-1">Stay informed</h3>
                    <form class="cz-subscribe-form validate"
                        action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126"
                        method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                        <div class="input-group input-group-overlay flex-nowrap">
                            <div class="input-group-prepend-overlay"><span
                                    class="input-group-text text-muted font-size-base"><i class="fa fa-mail"></i></span>
                            </div>
                            <input class="form-control prepended-form-control" type="email" name="EMAIL"
                                placeholder="Your email" required>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit" name="subscribe">Subscribe*</button>
                            </div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input class="cz-subscribe-form-antispam" type="text"
                                name="b_c7103e2c981361a6639545bd5_29ca296126" tabindex="-1">
                        </div><small class="form-text text-light opacity-50">*Subscribe to our newsletter to receive
                            early discount offers, updates and new products info.</small>
                        <div class="subscribe-status"></div>
                    </form>
                </div>
                <div class="widget pb-2 mb-4">
                    <h3 class="widget-title text-light pb-1">Download our app</h3>
                    <div class="d-flex flex-wrap">
                        <div class="mr-2 mb-2"><a class="btn-market btn-apple" href="#" role="button"><span
                                    class="btn-market-subtitle">Download on the</span><span class="btn-market-title">App
                                    Store</span></a></div>
                        <div class="mb-2"><a class="btn-market btn-google" href="#" role="button"><span
                                    class="btn-market-subtitle">Download on the</span><span
                                    class="btn-market-title">Google Play</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-5 bg-darker">
        <div class="container">
            <div class="row pb-3">
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="media"><i class="fa fa-rocket text-primary" style="font-size: 2.25rem;"></i>
                        <div class="media-body pl-3">
                            <h6 class="font-size-base text-light mb-1">Fast and free delivery</h6>
                            <p class="mb-0 font-size-ms text-light opacity-50">Free delivery for all orders over $200
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="media"><i class="fa fa-currency-exchange text-primary" style="font-size: 2.25rem;"></i>
                        <div class="media-body pl-3">
                            <h6 class="font-size-base text-light mb-1">Money back guarantee</h6>
                            <p class="mb-0 font-size-ms text-light opacity-50">We return money within 30 days</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="media"><i class="fa fa-support text-primary" style="font-size: 2.25rem;"></i>
                        <div class="media-body pl-3">
                            <h6 class="font-size-base text-light mb-1">24/7 customer support</h6>
                            <p class="mb-0 font-size-ms text-light opacity-50">Friendly 24/7 customer support</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="media"><i class="fa fa-card text-primary" style="font-size: 2.25rem;"></i>
                        <div class="media-body pl-3">
                            <h6 class="font-size-base text-light mb-1">Secure online payment</h6>
                            <p class="mb-0 font-size-ms text-light opacity-50">We possess SSL / Secure сertificate</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="hr-light pb-4 mb-3">
            <div class="row pb-2">
                <div class="col-md-6 text-center text-md-left mb-4">
                    <div class="text-nowrap mb-4"><a class="d-inline-block align-middle mt-n1 mr-3" href="#"><img
                                class="d-block" width="117" src="img/footer-logo-light.png" alt="Cartzilla" /></a>
                        <div class="btn-group dropdown disable-autohide">
                            <button class="btn btn-outline-light border-light btn-sm dropdown-toggle px-2" type="button"
                                data-toggle="dropdown"><img class="mr-2" width="20" src="img/flags/en.png"
                                    alt="English" />Eng / $
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <select class="custom-select custom-select-sm">
                                        <option value="usd">$ USD</option>
                                        <option value="eur">€ EUR</option>
                                        <option value="ukp">£ UKP</option>
                                        <option value="jpy">¥ JPY</option>
                                    </select>
                                </li>
                                <li><a class="dropdown-item pb-1" href="#"><img class="mr-2" width="20"
                                            src="img/flags/fr.png" alt="Français" />Français</a></li>
                                <li><a class="dropdown-item pb-1" href="#"><img class="mr-2" width="20"
                                            src="img/flags/de.png" alt="Deutsch" />Deutsch</a></li>
                                <li><a class="dropdown-item" href="#"><img class="mr-2" width="20"
                                            src="img/flags/it.png" alt="Italiano" />Italiano</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget widget-links widget-light">
                        <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                            <li class="widget-list-item mr-4"><a class="widget-list-link" href="#">Outlets</a></li>
                            <li class="widget-list-item mr-4"><a class="widget-list-link" href="#">Affiliates</a></li>
                            <li class="widget-list-item mr-4"><a class="widget-list-link" href="#">Support</a></li>
                            <li class="widget-list-item mr-4"><a class="widget-list-link" href="#">Privacy</a></li>
                            <li class="widget-list-item mr-4"><a class="widget-list-link" href="#">Terms of use</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 text-center text-md-right mb-4">
                    <div class="mb-3"><a class="social-btn sb-light sb-twitter ml-2 mb-2" href="#"><i
                                class="fa fa-twitter"></i></a><a class="social-btn sb-light sb-facebook ml-2 mb-2"
                            href="#"><i class="fa fa-facebook"></i></a><a
                            class="social-btn sb-light sb-instagram ml-2 mb-2" href="#"><i
                                class="fa fa-instagram"></i></a><a class="social-btn sb-light sb-pinterest ml-2 mb-2"
                            href="#"><i class="fa fa-pinterest"></i></a><a
                            class="social-btn sb-light sb-youtube ml-2 mb-2" href="#"><i class="fa fa-youtube"></i></a>
                    </div><img class="d-inline-block" width="187" src="img/cards-alt.png" alt="Payment methods" />
                </div>
            </div>
            <div class="pb-4 font-size-xs text-light opacity-50 text-center text-md-left">© All rights reserved. Made by
                <a class="text-light" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio</a>
            </div>
        </div>
    </div>
</footer>