<div class="page-title-overlap bg-accent pt-4">
  <div class="container pt-2 pb-3 pt-lg-3 pb-lg-4">
    <div class="d-lg-flex justify-content-between pb-3">
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light mb-0">{{ 'portal-alugo.todos-produtos.produtosdisponiveis' | translate }}</h1>
      </div>
    </div>
  </div>
</div>
<!-- Page Content-->
<div class="container pb-5 mb-2 mb-md-4">
  <div class="bg-light box-shadow-lg rounded-lg p-4 mt-n5 mb-4">
    <div class="d-flex justify-content-between align-items-center">
      <div class="dropdown mr-2"><a class="btn btn-outline-secondary dropdown-toggle" href="#shop-filters" data-toggle="collapse"><i class="fa fa-filter mr-2"></i>{{ 'portal-alugo.todos-produtos.filtros' | translate }}</a></div>
      <div class="d-flex"><a class="nav-link-style mr-3" ><i class="fa fa-arrow-left"></i></a><span class="font-size-md">1 / 5</span><a class="nav-link-style ml-3" ><i class="fa fa-arrow-right"></i></a></div>
      <div class="d-none d-sm-flex"><a class="btn btn-icon nav-link-style bg-primary text-light disabled opacity-100 mr-2" ><i class="fa fa-border-all"></i></a></div>
    </div>
    <!-- <div class="collapse" id="shop-filters">
      <div class="row pt-4">
        <div class="col-lg-4 col-sm-6">
          <div class="card mb-grid-gutter">
            <div class="card-body px-4">
              <div class="widget widget-categories">
                <h3 class="widget-title">{{ 'portal-alugo.todos-produtos.categorias' | translate }}</h3>
                <div class="accordion mt-n1" id="shop-categories">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="accordion-heading"><a class="collapsed" href="#shoes" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="shoes">Shoes<span class="accordion-indicator"></span></a></h3>
                    </div>
                    <div class="collapse" id="shoes" data-parent="#shop-categories">
                      <div class="card-body">
                        <div class="widget widget-links cz-filter">
                          <div class="input-group-overlay input-group-sm mb-2">
                            <input class="cz-filter-search form-control form-control-sm appended-form-control" type="text" placeholder="Search">
                            <div class="input-group-append-overlay"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                          </div>
                          <ul class="widget-list cz-filter-list pt-1" style="height: 12rem;" data-simplebar data-simplebar-auto-hide="false">
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">View all</span><span class="font-size-xs text-muted ml-3">1,953</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Pumps &amp; High Heels</span><span class="font-size-xs text-muted ml-3">247</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Ballerinas &amp; Flats</span><span class="font-size-xs text-muted ml-3">156</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Sandals</span><span class="font-size-xs text-muted ml-3">310</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Sneakers</span><span class="font-size-xs text-muted ml-3">402</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Boots</span><span class="font-size-xs text-muted ml-3">393</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Ankle Boots</span><span class="font-size-xs text-muted ml-3">50</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Loafers</span><span class="font-size-xs text-muted ml-3">93</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Slip-on</span><span class="font-size-xs text-muted ml-3">122</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Flip Flops</span><span class="font-size-xs text-muted ml-3">116</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Clogs &amp; Mules</span><span class="font-size-xs text-muted ml-3">24</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Athletic Shoes</span><span class="font-size-xs text-muted ml-3">31</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Oxfords</span><span class="font-size-xs text-muted ml-3">9</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Smart Shoes</span><span class="font-size-xs text-muted ml-3">18</span></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <h3 class="accordion-heading"><a href="#clothing" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="clothing">Clothing<span class="accordion-indicator"></span></a></h3>
                    </div>
                    <div class="collapse show" id="clothing" data-parent="#shop-categories">
                      <div class="card-body">
                        <div class="widget widget-links cz-filter">
                          <div class="input-group-overlay input-group-sm mb-2">
                            <input class="cz-filter-search form-control form-control-sm appended-form-control" type="text" placeholder="Search">
                            <div class="input-group-append-overlay"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                          </div>
                          <ul class="widget-list cz-filter-list pt-1" style="height: 12rem;" data-simplebar data-simplebar-auto-hide="false">
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">View all</span><span class="font-size-xs text-muted ml-3">2,548</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Blazers &amp; Suits</span><span class="font-size-xs text-muted ml-3">235</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Blouses</span><span class="font-size-xs text-muted ml-3">410</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Cardigans &amp; Jumpers</span><span class="font-size-xs text-muted ml-3">107</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Dresses</span><span class="font-size-xs text-muted ml-3">93</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Hoodie &amp; Sweatshirts</span><span class="font-size-xs text-muted ml-3">122</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Jackets &amp; Coats</span><span class="font-size-xs text-muted ml-3">116</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Jeans</span><span class="font-size-xs text-muted ml-3">215</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Lingerie</span><span class="font-size-xs text-muted ml-3">150</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Maternity Wear</span><span class="font-size-xs text-muted ml-3">8</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Nightwear</span><span class="font-size-xs text-muted ml-3">26</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Shirts</span><span class="font-size-xs text-muted ml-3">164</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Shorts</span><span class="font-size-xs text-muted ml-3">147</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Socks &amp; Tights</span><span class="font-size-xs text-muted ml-3">139</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Sportswear</span><span class="font-size-xs text-muted ml-3">65</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Swimwear</span><span class="font-size-xs text-muted ml-3">18</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">T-shirts &amp; Vests</span><span class="font-size-xs text-muted ml-3">209</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Tops</span><span class="font-size-xs text-muted ml-3">132</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Trousers</span><span class="font-size-xs text-muted ml-3">105</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Underwear</span><span class="font-size-xs text-muted ml-3">87</span></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <h3 class="accordion-heading"><a class="collapsed" href="#bags" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="bags">Bags<span class="accordion-indicator"></span></a></h3>
                    </div>
                    <div class="collapse" id="bags" data-parent="#shop-categories">
                      <div class="card-body">
                        <div class="widget widget-links cz-filter">
                          <div class="input-group-overlay input-group-sm mb-2">
                            <input class="cz-filter-search form-control form-control-sm appended-form-control" type="text" placeholder="Search">
                            <div class="input-group-append-overlay"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                          </div>
                          <ul class="widget-list cz-filter-list pt-1" style="height: 12rem;" data-simplebar data-simplebar-auto-hide="false">
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">View all</span><span class="font-size-xs text-muted ml-3">801</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Handbags</span><span class="font-size-xs text-muted ml-3">238</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Backpacks</span><span class="font-size-xs text-muted ml-3">116</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Wallets</span><span class="font-size-xs text-muted ml-3">104</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Luggage</span><span class="font-size-xs text-muted ml-3">115</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Lumbar Packs</span><span class="font-size-xs text-muted ml-3">17</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Duffle Bags</span><span class="font-size-xs text-muted ml-3">9</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Bag / Travel Accessories</span><span class="font-size-xs text-muted ml-3">93</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Diaper Bags</span><span class="font-size-xs text-muted ml-3">5</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Lunch Bags</span><span class="font-size-xs text-muted ml-3">8</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Messenger Bags</span><span class="font-size-xs text-muted ml-3">2</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Laptop Bags</span><span class="font-size-xs text-muted ml-3">31</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Briefcases</span><span class="font-size-xs text-muted ml-3">45</span></a></li>
                            <li class="widget-list-item cz-filter-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span class="cz-filter-item-text">Sport Bags</span><span class="font-size-xs text-muted ml-3">18</span></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <h3 class="accordion-heading"><a class="collapsed" href="#sunglasses" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sunglasses">Sunglasses<span class="accordion-indicator"></span></a></h3>
                    </div>
                    <div class="collapse" id="sunglasses" data-parent="#shop-categories">
                      <div class="card-body">
                        <div class="widget widget-links">
                          <ul class="widget-list">
                            <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span>View all</span><span class="font-size-xs text-muted ml-3">1,842</span></a></li>
                            <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span>Fashion Sunglasses</span><span class="font-size-xs text-muted ml-3">953</span></a></li>
                            <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span>Sport Sunglasses</span><span class="font-size-xs text-muted ml-3">589</span></a></li>
                            <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span>Classic Sunglasses</span><span class="font-size-xs text-muted ml-3">300</span></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <h3 class="accordion-heading"><a class="collapsed" href="#watches" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="watches">Watches<span class="accordion-indicator"></span></a></h3>
                    </div>
                    <div class="collapse" id="watches" data-parent="#shop-categories">
                      <div class="card-body">
                        <div class="widget widget-links">
                          <ul class="widget-list">
                            <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span>View all</span><span class="font-size-xs text-muted ml-3">734</span></a></li>
                            <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span>Fashion Watches</span><span class="font-size-xs text-muted ml-3">572</span></a></li>
                            <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span>Casual Watches</span><span class="font-size-xs text-muted ml-3">110</span></a></li>
                            <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span>Luxury Watches</span><span class="font-size-xs text-muted ml-3">34</span></a></li>
                            <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span>Sport Watches</span><span class="font-size-xs text-muted ml-3">18</span></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <h3 class="accordion-heading"><a class="collapsed" href="#accessories" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="accessories">Accessories<span class="accordion-indicator"></span></a></h3>
                    </div>
                    <div class="collapse" id="accessories" data-parent="#shop-categories">
                      <div class="card-body">
                        <div class="widget widget-links">
                          <ul class="widget-list">
                            <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span>View all</span><span class="font-size-xs text-muted ml-3">920</span></a></li>
                            <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span>Belts</span><span class="font-size-xs text-muted ml-3">364</span></a></li>
                            <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span>Hats</span><span class="font-size-xs text-muted ml-3">405</span></a></li>
                            <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span>Jewelry</span><span class="font-size-xs text-muted ml-3">131</span></a></li>
                            <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center" ><span>Cosmetics</span><span class="font-size-xs text-muted ml-3">20</span></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="card mb-grid-gutter">
            <div class="card-body px-4">
              <div class="widget">
                <h3 class="widget-title">Price range</h3>
                <div class="cz-range-slider" data-start-min="250" data-start-max="680" data-min="0" data-max="1000" data-step="1">
                  <div class="cz-range-slider-ui"></div>
                  <div class="d-flex pb-1">
                    <div class="w-50 pr-2 mr-2">
                      <div class="input-group input-group-sm">
                        <div class="input-group-prepend"><span class="input-group-text">R$ </span></div>
                        <input class="form-control cz-range-slider-value-min" type="text">
                      </div>
                    </div>
                    <div class="w-50 pl-2">
                      <div class="input-group input-group-sm">
                        <div class="input-group-prepend"><span class="input-group-text">R$ </span></div>
                        <input class="form-control cz-range-slider-value-max" type="text">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-grid-gutter">
            <div class="card-body px-4">
              <div class="widget cz-filter">
                <h3 class="widget-title">Tags</h3>
                <div class="input-group-overlay input-group-sm mb-2">
                  <input class="cz-filter-search form-control form-control-sm appended-form-control" type="text" placeholder="Search">
                  <div class="input-group-append-overlay"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                </div>
                <ul class="widget-list cz-filter-list list-unstyled pt-1" style="max-height: 12rem;" data-simplebar data-simplebar-auto-hide="false">
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="adidas">
                      <label class="custom-control-label cz-filter-item-text" for="adidas">Adidas</label>
                    </div><span class="font-size-xs text-muted">425</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="ataylor">
                      <label class="custom-control-label cz-filter-item-text" for="ataylor">Ann Taylor</label>
                    </div><span class="font-size-xs text-muted">15</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="armani">
                      <label class="custom-control-label cz-filter-item-text" for="armani">Armani</label>
                    </div><span class="font-size-xs text-muted">18</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="banana">
                      <label class="custom-control-label cz-filter-item-text" for="banana">Banana Republic</label>
                    </div><span class="font-size-xs text-muted">103</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="bilabong">
                      <label class="custom-control-label cz-filter-item-text" for="bilabong">Bilabong</label>
                    </div><span class="font-size-xs text-muted">27</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="birkenstock">
                      <label class="custom-control-label cz-filter-item-text" for="birkenstock">Birkenstock</label>
                    </div><span class="font-size-xs text-muted">10</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="klein">
                      <label class="custom-control-label cz-filter-item-text" for="klein">Calvin Klein</label>
                    </div><span class="font-size-xs text-muted">365</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="columbia">
                      <label class="custom-control-label cz-filter-item-text" for="columbia">Columbia</label>
                    </div><span class="font-size-xs text-muted">508</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="converse">
                      <label class="custom-control-label cz-filter-item-text" for="converse">Converse</label>
                    </div><span class="font-size-xs text-muted">176</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="dockers">
                      <label class="custom-control-label cz-filter-item-text" for="dockers">Dockers</label>
                    </div><span class="font-size-xs text-muted">54</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="fruit">
                      <label class="custom-control-label cz-filter-item-text" for="fruit">Fruit of the Loom</label>
                    </div><span class="font-size-xs text-muted">739</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="hanes">
                      <label class="custom-control-label cz-filter-item-text" for="hanes">Hanes</label>
                    </div><span class="font-size-xs text-muted">92</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="choo">
                      <label class="custom-control-label cz-filter-item-text" for="choo">Jimmy Choo</label>
                    </div><span class="font-size-xs text-muted">17</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="levis">
                      <label class="custom-control-label cz-filter-item-text" for="levis">Levi's</label>
                    </div><span class="font-size-xs text-muted">361</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="lee">
                      <label class="custom-control-label cz-filter-item-text" for="lee">Lee</label>
                    </div><span class="font-size-xs text-muted">264</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="wearhouse">
                      <label class="custom-control-label cz-filter-item-text" for="wearhouse">Men's Wearhouse</label>
                    </div><span class="font-size-xs text-muted">75</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="newbalance">
                      <label class="custom-control-label cz-filter-item-text" for="newbalance">New Balance</label>
                    </div><span class="font-size-xs text-muted">218</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="nike">
                      <label class="custom-control-label cz-filter-item-text" for="nike">Nike</label>
                    </div><span class="font-size-xs text-muted">810</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="navy">
                      <label class="custom-control-label cz-filter-item-text" for="navy">Old Navy</label>
                    </div><span class="font-size-xs text-muted">147</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="polo">
                      <label class="custom-control-label cz-filter-item-text" for="polo">Polo Ralph Lauren</label>
                    </div><span class="font-size-xs text-muted">64</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="puma">
                      <label class="custom-control-label cz-filter-item-text" for="puma">Puma</label>
                    </div><span class="font-size-xs text-muted">370</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="reebok">
                      <label class="custom-control-label cz-filter-item-text" for="reebok">Reebok</label>
                    </div><span class="font-size-xs text-muted">506</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="skechers">
                      <label class="custom-control-label cz-filter-item-text" for="skechers">Skechers</label>
                    </div><span class="font-size-xs text-muted">209</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="hilfiger">
                      <label class="custom-control-label cz-filter-item-text" for="hilfiger">Tommy Hilfiger</label>
                    </div><span class="font-size-xs text-muted">487</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="armour">
                      <label class="custom-control-label cz-filter-item-text" for="armour">Under Armour</label>
                    </div><span class="font-size-xs text-muted">90</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="urban">
                      <label class="custom-control-label cz-filter-item-text" for="urban">Urban Outfitters</label>
                    </div><span class="font-size-xs text-muted">152</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="vsecret">
                      <label class="custom-control-label cz-filter-item-text" for="vsecret">Victoria's Secret</label>
                    </div><span class="font-size-xs text-muted">238</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center mb-1">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="wolverine">
                      <label class="custom-control-label cz-filter-item-text" for="wolverine">Wolverine</label>
                    </div><span class="font-size-xs text-muted">29</span>
                  </li>
                  <li class="cz-filter-item d-flex justify-content-between align-items-center">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="wrangler">
                      <label class="custom-control-label cz-filter-item-text" for="wrangler">Wrangler</label>
                    </div><span class="font-size-xs text-muted">115</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
        </div>
      </div>
    </div> -->
  </div>


  <!-- Products grid-->
  <div *ngIf="semProduto" class="row justify-content-center pt-lg-4 text-center">
    <div class="col-lg-5 col-md-7 col-sm-9">
      <h1 class="display-404">: (</h1>
      <h2 class="h3 mb-4">{{ 'portal-alugo.todos-produtos.nenhumProduto' | translate }}"{{txtPesquisaproduto}}"</h2>
    </div>
  </div>

  <div *ngIf="!semProduto" class="row mx-n2">
    
    <div *ngFor="let item of produtos; let i = index" class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
      <div class="card product-card">
        <button (click)="verProdutoDeslogado(item)" class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Adicionar aos Favoritos"><i class="fa fa-heart"></i></button><a class="card-img-top d-block overflow-hidden" (click)="verProdutoDeslogado(item)">
          <!-- <img *ngIf="!item.capa_foto" src="../../assets/imagens/shop/catalog/{{i+1}}.jpg" alt="Produto"> -->
          <img *ngIf="item.capa_foto" src="data:image/jpg;base64,{{item.capa_foto}}" alt="Produto">
        </a>
        <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" >{{item.descricao_curta}}</a>
          <h3 class="product-title font-size-sm"><a routerLink="/detalhe-produto">{{item.nome}}</a></h3>
          <div class="d-flex justify-content-between">
            <div class="product-price"><span class="text-accent">R$ {{item.valor_base_diaria}}<small></small></span></div>
            <div class="star-rating"><i class="sr-star fa fa-star active"></i><i class="sr-star fa fa-star active"></i><i class="sr-star fa fa-star active"></i><i class="sr-star fa fa-star active"></i><i class="sr-star fa fa-star active"></i>
            </div>
          </div>
        </div>
        <div class="card-body card-body-hidden">
          <button class="btn btn-primary btn-sm btn-block mb-2" type="button" (click)="verProdutoDeslogado(item)"><i class="fa fa-cart font-size-sm mr-1"></i>{{ 'portal-alugo.todos-produtos.visualizarDetalhes' | translate }}</button>
        </div>
      </div>
      <hr class="d-sm-none">
    </div>
    
    
  </div>
  <hr class="my-3">
  <!-- Pagination-->
  <!-- <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" ><i class="fa fa-arrow-left mr-2"></i>{{ 'portal-alugo.todos-produtos.anterior' | translate }}</a></li>
    </ul>
    <ul class="pagination">
      <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
      <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">1<span class="sr-only">(current)</span></span></li>
      <li class="page-item d-none d-sm-block"><a class="page-link" >2</a></li>
      <li class="page-item d-none d-sm-block"><a class="page-link" >3</a></li>
      <li class="page-item d-none d-sm-block"><a class="page-link" >4</a></li>
      <li class="page-item d-none d-sm-block"><a class="page-link" >5</a></li>
    </ul>
    <ul class="pagination">
      <li class="page-item"><a class="page-link"  aria-label="Next">{{ 'portal-alugo.todos-produtos.proximo' | translate }}<i class="fa fa-arrow-right ml-2"></i></a></li>
    </ul>
  </nav> -->
</div>