<div class="page-title-overlap bg-accent pt-4">
  <div class="container pt-2 pb-3 pt-lg-3 pb-lg-4">
    <div class="d-lg-flex justify-content-between pb-3">
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light mb-0">{{ 'portal-alugo.todos-produtos.produtosdisponiveis' | translate }}</h1>
      </div>
    </div>
  </div>
</div>
<!-- Page Content-->
<div class="container pb-5 mb-2 mb-md-4">
  <div class="bg-light box-shadow-lg rounded-lg p-4 mt-n5 mb-4">
    <div class="d-flex justify-content-between align-items-center">
      <!--<div class="dropdown mr-2"><a class="btn btn-outline-secondary dropdown-toggle" href="#shop-filters" data-toggle="collapse"><i class="fa fa-filter mr-2"></i>{{ 'portal-alugo.todos-produtos.filtros' | translate }}</a></div>-->
      <div *ngIf="total>0" class="d-flex"><a class="nav-link-style mr-3" *ngIf=!firstPage href="" (click)="setPage(page-1,$event)"><i class="fa fa-arrow-left"></i></a><span class="font-size-md">{{page+1}} / {{pages}}</span><a class="nav-link-style ml-3" *ngIf=!lastPage href="" (click)="setPage(page+1,$event)"><i class="fa fa-arrow-right"></i></a></div>
      <!--<div class="d-none d-sm-flex"><a class="btn btn-icon nav-link-style bg-primary text-light disabled opacity-100 mr-2" ><i class="fa fa-border-all"></i></a></div>-->
    </div>
    
  </div>
  <!-- <div class="bg-light box-shadow-lg rounded-lg p-2 mt-n5 mb-4"> -->
    <div class="d-flex align-items-left">
       <h3>{{ 'portal-alugo.todos-produtos.selecaocategoria' | translate }}</h3>
    </div>
    <mat-form-field appearance="outline" [style.width.%]="30">
      <mat-select [(value)]="idCategoriaSelected">
        <mat-option (click)="buscaCategoria(null)">-- {{ 'portal-alugo.todos-produtos.todos' | translate }} --</mat-option>
        <mat-option (click)="buscaCategoria(categoria)" *ngFor="let categoria of categorias" [value]="categoria.id_categoria">
            {{categoria.descricao}}
        </mat-option>
      </mat-select>
    </mat-form-field> 
  <!-- </div> -->

  <!-- Products grid-->
  <div *ngIf="semProduto" class="row justify-content-center pt-lg-4 text-center">
    <div class="col-lg-5 col-md-7 col-sm-9">
      <h1 class="display-404">: (</h1>
      <h2 class="h3 mb-4">{{ 'portal-alugo.todos-produtos.nenhumProduto' | translate }}"{{txtPesquisaproduto}}"</h2>
    </div>
  </div>

  <div *ngIf="!semProduto" class="row mx-n2">
    
    <div *ngFor="let item of produtos; let i = index" class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
      <div class="card product-card">
        <a class="card-img-top d-block overflow-hidden" (click)="verProdutoDeslogado(item)">
          <!-- <img *ngIf="!item.capa_foto" src="../../assets/imagens/shop/catalog/{{i+1}}.jpg" alt="Produto"> -->
          <img style="height:271px; max-height: 336px; max-width:336px; width: 263px;" *ngIf="item.capa_foto" src="data:image/jpg;base64,{{item.capa_foto}}" alt="Produto">
        </a>
        <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" >{{item.descricao_curta}}</a>
          <h3 class="product-title font-size-sm"><a routerLink="/detalhe-produto">{{item.nome}}</a></h3>
          <div class="d-flex justify-content-between">
            <div class="product-price"><span class="text-accent">R$ {{item.valor_base_diaria}}<small></small></span></div>
            <ngb-rating [max]="5" [rate]=item.media_avaliacao [readonly]="true" ></ngb-rating>
          </div>
        </div>
        <div class="card-body card-body-hidden">
          <button class="btn btn-primary btn-sm btn-block mb-2" type="button" (click)="verProdutoDeslogado(item)"><i class="fa fa-cart font-size-sm mr-1"></i>{{ 'portal-alugo.todos-produtos.visualizarDetalhes' | translate }}</button>
        </div>
      </div>
      <hr class="d-sm-none">
    </div>
    
    
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <!--<div class="dropdown mr-2"><a class="btn btn-outline-secondary dropdown-toggle" href="#shop-filters" data-toggle="collapse"><i class="fa fa-filter mr-2"></i>{{ 'portal-alugo.todos-produtos.filtros' | translate }}</a></div>-->
    <div *ngIf="total>0" class="d-flex"><a class="nav-link-style mr-3" *ngIf=!firstPage href="" (click)="setPage(page-1,$event)"><i class="fa fa-arrow-left"></i></a><span class="font-size-md">{{page+1}} / {{pages}}</span><a class="nav-link-style ml-3" *ngIf=!lastPage href="" (click)="setPage(page+1,$event)"><i class="fa fa-arrow-right"></i></a></div>
    <!--<div class="d-none d-sm-flex"><a class="btn btn-icon nav-link-style bg-primary text-light disabled opacity-100 mr-2" ><i class="fa fa-border-all"></i></a></div>-->
  </div>
  <hr class="my-3">
  <!-- Pagination-->
  <!-- <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" ><i class="fa fa-arrow-left mr-2"></i>{{ 'portal-alugo.todos-produtos.anterior' | translate }}</a></li>
    </ul>
    <ul class="pagination">
      <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
      <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">1<span class="sr-only">(current)</span></span></li>
      <li class="page-item d-none d-sm-block"><a class="page-link" >2</a></li>
      <li class="page-item d-none d-sm-block"><a class="page-link" >3</a></li>
      <li class="page-item d-none d-sm-block"><a class="page-link" >4</a></li>
      <li class="page-item d-none d-sm-block"><a class="page-link" >5</a></li>
    </ul>
    <ul class="pagination">
      <li class="page-item"><a class="page-link"  aria-label="Next">{{ 'portal-alugo.todos-produtos.proximo' | translate }}<i class="fa fa-arrow-right ml-2"></i></a></li>
    </ul>
  </nav> -->
</div>