<div class="page-title-overlap pt-4" style="background-color: #324a81;">
  <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
    <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
      <h1 class="h3 text-light mb-0">{{ 'portal-alugo.realiza-aluguel.alugar' | translate }} {{currentProduto.nome}}</h1>
    </div>
  </div>
</div>
<section class="container mb-3 pb-3">
  <div class="bg-light box-shadow-lg rounded-lg overflow-hidden">
    <div class="row">

      <section class="col-lg-8 pt-2 pt-lg-4 pb-4 mb-lg-3">
        <div class="pt-2 px-4 pr-lg-0 pl-xl-5">
          <!-- Product gallery-->
          <div class="cz-gallery"><img src="data:image/jpg;base64,{{currentProduto.capa_foto}}" alt="Gallery preview" class="gallery-item rounded-lg mb-grid-gutter" /><span class="gallery-item-caption">
                {{currentProduto.nome}}</span>
          </div>
        </div>
      </section>

      <aside class="col-lg-4">
        <hr class="d-lg-none">
        <div class="cz-sidebar-static h-100 ml-auto border-left">
          <div *ngIf="errorData" class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Cuidado!</strong> A data inicial é maior que a final
          </div>
          <form [formGroup]="formularioAluguel" (ngSubmit)="setNewAluguel()">
            <div class="accordion" id="licenses">
              <div class="card border-top-0 border-left-0 border-right-0">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <mat-form-field class="full-width">
                        <mat-label>{{ 'portal-alugo.realiza-aluguel.dataInicial' | translate }}</mat-label>
                        <input (dateChange)="recalculaValorAluguel()" formControlName="data_inicio" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <mat-form-field class="full-width">
                        <mat-label>{{ 'portal-alugo.realiza-aluguel.dataFinal' | translate }}</mat-label>
                        <input (dateChange)="recalculaValorAluguel()" formControlName="data_fim" matInput [matDatepicker]="picker2">
                        <mat-datepicker-toggle  matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-secondary rounded p-3 mb-4">
                <div class="star-rating">
                  Descrição do valor##
                </div>
                <div class="font-size-ms text-muted">Qtde dias selecionados: 00 </div>
                <div class="font-size-ms text-muted">Valor Por dia: 00</div>
                <div class="font-size-ms text-muted">Qtde Meses contabilizados: 00</div>
                <div class="font-size-ms text-muted">valor por mês: 00</div>
              </div>
              <div class="card border-bottom-0 border-left-0 border-right-0">
                <div class="card-header d-flex justify-content-between align-items-center py-3 border-0">
                  <div class="custom-control custom-radio">
                    {{ 'portal-alugo.realiza-aluguel.valorBase' | translate }}
                  </div>
                  <h5 class="mb-0 text-accent font-weight-normal">R$ {{valorAluguel}}<small></small></h5>
                </div>
              </div>
            </div>
            <hr>
            <button class="btn btn-success btn-shadow btn-block mt-4" type="button" data-toggle="toast"
              data-target="#cart-toast"><i class="fa fa-shopping-cart font-size-lg mr-2"></i>{{ 'portal-alugo.realiza-aluguel.alugar' | translate }}</button>
            <div class="bg-secondary rounded p-3 mt-4 mb-2"><a class="media align-items-center" href="#">
              
              <img *ngIf="currentDono.capa_foto" class="rounded-circle" width="50" src="data:image/jpg;base64,{{currentDono.capa_foto}}" alt="{{ 'portal-alugo.realiza-aluguel.nomeDono' | translate }}" />
              <img *ngIf="!currentDono.capa_foto" class="rounded-circle" width="50" src="../../../assets/imagens/avatar.svg" alt="{{ 'portal-alugo.realiza-aluguel.nomeDono' | translate }}" />

                <div class="media-body pl-2"><span class="font-size-ms text-muted">{{ 'portal-alugo.realiza-aluguel.locador' | translate }}</span>
                  <h6 class="font-size-sm mb-0">{{currentDono.nome}}</h6>
                </div>
              </a></div>
            <div class="bg-secondary rounded p-3 mb-2">
              <i class="fa fa-shopping-cart text-warning mb-0 mt-n1 mr-2"></i><span
                class="d-inline-block h6 mb-0 mr-1">715</span><span class="font-size-sm">{{ 'portal-alugo.realiza-aluguel.alugueisRealizados' | translate }}</span></div>
            <div class="bg-secondary rounded p-3 mb-4">
              <div class="star-rating"><i class="sr-star fa fa-star active"></i><i
                  class="sr-star fa fa-star active"></i><i class="sr-star fa fa-star active"></i><i
                  class="sr-star fa fa-star active"></i><i class="sr-star fa fa-star"></i>
              </div><span class="font-size-ms ml-2"> 4.8</span>
              <div class="font-size-ms text-muted">{{ 'portal-alugo.realiza-aluguel.avaliacaoUsuario' | translate }}</div>
            </div>
            <ul class="list-unstyled font-size-sm">
              <li class="d-flex justify-content-between mb-3 pb-3 border-bottom"><span
                  class="text-dark font-weight-medium">{{ 'portal-alugo.realiza-aluguel.qtdAlugueis' | translate }}</span><span class="text-muted">{{currentProduto.qtd_alugueis}}</span>
              </li>
            </ul>
          </form>
        </div>
      </aside>
    </div>
  </div>
</section>