/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Montserrat Semibold, "Helvetica Neue", sans-serif; }

.primaryAlugo{
    color:#324a81;
}

.backPrimaryAlugo{
    background-color:#324a81;
    color:#FFF;
}

.secondaryAlugo{
    color:#f3935e;
}

.backSecondaryAlugo{
    background-color: #f3935e;
    color:#FFF;
}

.full-width{
    width: 100%;
}