@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';


html { height: 100%;}
body { margin: 0; padding: 0; font-family: 'Montserrat', sans-serif; }


.primaryAlugo{
    color:#324a81;
}

.darkGreyAlugo{
    background-color: #616160;
}

.lightGreyAlugo{
    background-color: #eeeeee;
}

.backPrimaryAlugo{
    background-color:#324a81;
    color:#FFF;
}

.backPrimaryAlugo:hover{
    background-color: #f3935e;
    color:#FFF;
}

.secondaryAlugo{
    color:#f3935e;
}

.backSecondaryAlugo{
    background-color: #f3935e;
    color:#FFF;
}

.full-width{
    width: 100%;
}

/* input color class */
.input.mat-input-element {
    color: #484a4c;
  }
  
  .mat-form-field.mat-focused .mat-form-field-label {
    color: #f3935e !important;
  }
  
  .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: #f3935e !important;
  }