
  <section class="cz-carousel cz-controls-lg">
    <div class="cz-carousel-inner" data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;responsive&quot;: {&quot;0&quot;:{&quot;nav&quot;:true, &quot;controls&quot;: false},&quot;992&quot;:{&quot;nav&quot;:false, &quot;controls&quot;: true}}}">
      <!-- Item-->
      <div class="px-lg-5" style="background-color: #3aafd2;">
        <div class="d-lg-flex justify-content-between align-items-center pl-lg-4"><img class="d-block order-lg-2 mr-lg-n5 flex-shrink-0" src="../../assets/imagens/home/slider/01.jpg" alt="Summer Collection">
          <div class="position-relative mx-auto mr-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
            <div class="pb-lg-5 mb-lg-5 text-center text-lg-left text-lg-nowrap">
              <h2 class="text-light font-weight-light pb-1 from-left">Has just arrived!</h2>
              <h1 class="text-light display-4 from-left delay-1">Huge Summer Collection</h1>
              <p class="font-size-lg text-light pb-3 from-left delay-2">Swimwear, Tops, Shorts, Sunglasses &amp; much more...</p><a class="btn btn-primary scale-up delay-4" href="shop-grid-ls.html">Shop Now<i class="fa fa-arrow-right ml-2 mr-n1"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Item-->
      <div class="px-lg-5" style="background-color: #f5b1b0;">
        <div class="d-lg-flex justify-content-between align-items-center pl-lg-4"><img class="d-block order-lg-2 mr-lg-n5 flex-shrink-0" src="../../assets/imagens/home/slider/02.jpg" alt="Women Sportswear">
          <div class="position-relative mx-auto mr-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
            <div class="pb-lg-5 mb-lg-5 text-center text-lg-left text-lg-nowrap">
              <h2 class="text-light font-weight-light pb-1 from-bottom">Hurry up! Limited time offer.</h2>
              <h1 class="text-light display-4 from-bottom delay-1">Women Sportswear Sale</h1>
              <p class="font-size-lg text-light pb-3 from-bottom delay-2">Sneakers, Keds, Sweatshirts, Hoodies &amp; much more...</p><a class="btn btn-primary scale-up delay-4" href="shop-grid-ls.html">Shop Now<i class="fa fa-arrow-right ml-2 mr-n1"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Item-->
      <div class="px-lg-5" style="background-color: #eba170;">
        <div class="d-lg-flex justify-content-between align-items-center pl-lg-4"><img class="d-block order-lg-2 mr-lg-n5 flex-shrink-0" src="../../assets/imagens/home/slider/03.jpg" alt="Men Accessories">
          <div class="position-relative mx-auto mr-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
            <div class="pb-lg-5 mb-lg-5 text-center text-lg-left text-lg-nowrap">
              <h2 class="text-light font-weight-light pb-1 from-top">Complete your look with</h2>
              <h1 class="text-light display-4 from-top delay-1">New Men's Accessories</h1>
              <p class="font-size-lg text-light pb-3 from-top delay-2">Hats &amp; Caps, Sunglasses, Bags &amp; much more...</p><a class="btn btn-primary scale-up delay-4" href="shop-grid-ls.html">Shop Now<i class="fa fa-arrow-right ml-2 mr-n1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Popular categories-->
  <section class="container position-relative pt-3 pt-lg-0 pb-5 mt-lg-n10" style="z-index: 10;">
    <div class="row">
      <div class="col-xl-8 col-lg-9">
        <div class="card border-0 box-shadow-lg">
          <div class="card-body px-3 pt-grid-gutter pb-0">
            <div class="row no-gutters pl-1">
              <div class="col-sm-4 px-2 mb-grid-gutter"><a class="d-block text-center text-decoration-none mr-1" href="shop-grid-ls.html"><img class="d-block rounded mb-3" src="img/home/categories/cat-sm01.jpg" alt="Men">
                  <h3 class="font-size-base pt-1 mb-0">Men</h3></a></div>
              <div class="col-sm-4 px-2 mb-grid-gutter"><a class="d-block text-center text-decoration-none mr-1" href="shop-grid-ls.html"><img class="d-block rounded mb-3" src="img/home/categories/cat-sm02.jpg" alt="Women">
                  <h3 class="font-size-base pt-1 mb-0">Women</h3></a></div>
              <div class="col-sm-4 px-2 mb-grid-gutter"><a class="d-block text-center text-decoration-none mr-1" href="shop-grid-ls.html"><img class="d-block rounded mb-3" src="img/home/categories/cat-sm03.jpg" alt="Kids">
                  <h3 class="font-size-base pt-1 mb-0">Kids</h3></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Products grid (Trending products)-->
  <section class="container pt-md-3 pb-5 mb-md-3">
    <h2 class="h3 text-center">Trending products</h2>
    <div class="row pt-4 mx-n2">
      <!-- Product-->
      <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
        <div class="card product-card">
          <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="fa fa-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="shop-single-v1.html"><img src="../../assets/imagens/shop/catalog/01.jpg" alt="Product"></a>
          <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Sneakers &amp; Keds</a>
            <h3 class="product-title font-size-sm"><a href="shop-single-v1.html">Women Colorblock Sneakers</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent">$154.<small>00</small></span></div>
              <div class="star-rating"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="card-body card-body-hidden">
            <div class="text-center pb-2">
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="size1" id="s-75">
                <label class="custom-option-label" for="s-75">7.5</label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="size1" id="s-80" checked>
                <label class="custom-option-label" for="s-80">8</label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="size1" id="s-85">
                <label class="custom-option-label" for="s-85">8.5</label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="size1" id="s-90">
                <label class="custom-option-label" for="s-90">9</label>
              </div>
            </div>
            <button class="btn btn-primary btn-sm btn-block mb-2" type="button" href="#quick-view" data-toggle="modal"><i class="fa fa-cart font-size-sm mr-1"></i>Visualizar Detalhes</button>
            
          </div>
        </div>
        <hr class="d-sm-none">
      </div>
      <!-- Product-->
      <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
        <div class="card product-card"><span class="badge badge-danger badge-shadow">Sale</span>
          <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="fa fa-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="shop-single-v1.html"><img src="../../assets/imagens/shop/catalog/02.jpg" alt="Product"></a>
          <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Women’s T-shirt</a>
            <h3 class="product-title font-size-sm"><a href="shop-single-v1.html">Cotton Lace Blouse</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent">$28.<small>50</small></span>
                <del class="font-size-sm text-muted">$38.<small>50</small></del>
              </div>
              <div class="star-rating"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="card-body card-body-hidden">
            <div class="text-center pb-2">
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="color1" id="white" checked>
                <label class="custom-option-label rounded-circle" for="white"><span class="custom-option-color rounded-circle" style="background-color: #eaeaeb;"></span></label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="color1" id="blue">
                <label class="custom-option-label rounded-circle" for="blue"><span class="custom-option-color rounded-circle" style="background-color: #d1dceb;"></span></label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="color1" id="yellow">
                <label class="custom-option-label rounded-circle" for="yellow"><span class="custom-option-color rounded-circle" style="background-color: #f4e6a2;"></span></label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="color1" id="pink">
                <label class="custom-option-label rounded-circle" for="pink"><span class="custom-option-color rounded-circle" style="background-color: #f3dcff;"></span></label>
              </div>
            </div>
            <div class="d-flex mb-2">
              <select class="custom-select custom-select-sm mr-2">
                <option>XS</option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
              </select>
              <button class="btn btn-primary btn-sm" type="button" href="#quick-view" data-toggle="modal"><i class="fa fa-cart font-size-sm mr-1"></i>Visualizar Detalhes</button>
            </div>
            
          </div>
        </div>
        <hr class="d-sm-none">
      </div>
      <!-- Product-->
      <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
        <div class="card product-card">
          <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="fa fa-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="shop-single-v1.html"><img src="../../assets/imagens/shop/catalog/03.jpg" alt="Product"></a>
          <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Women’s Shorts</a>
            <h3 class="product-title font-size-sm"><a href="shop-single-v1.html">Mom High Waist Shorts</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent">$39.<small>50</small></span></div>
              <div class="star-rating"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i>
              </div>
            </div>
          </div>
          <div class="card-body card-body-hidden">
            <div class="text-center pb-2">
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="size2" id="xs">
                <label class="custom-option-label" for="xs">XS</label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="size2" id="s" checked>
                <label class="custom-option-label" for="s">S</label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="size2" id="m">
                <label class="custom-option-label" for="m">M</label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="size2" id="l">
                <label class="custom-option-label" for="l">L</label>
              </div>
            </div>
            <button class="btn btn-primary btn-sm btn-block mb-2" type="button" href="#quick-view" data-toggle="modal"><i class="fa fa-cart font-size-sm mr-1"></i>Visualizar Detalhes</button>
            
          </div>
        </div>
        <hr class="d-sm-none">
      </div>
      <!-- Product-->
      <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
        <div class="card product-card">
          <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="fa fa-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="shop-single-v1.html"><img src="../../assets/imagens/shop/catalog/07.jpg" alt="Product"></a>
          <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Women's Swimwear</a>
            <h3 class="product-title font-size-sm"><a href="shop-single-v1.html">Two-Piece Bikini in Print</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent">$18.<small>99</small></span></div>
              <div class="star-rating"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="card-body card-body-hidden">
            <div class="text-center pb-2">
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="size4" id="xs3" checked>
                <label class="custom-option-label" for="xs3">XS</label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="size4" id="s3">
                <label class="custom-option-label" for="s3">S</label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="size4" id="m3">
                <label class="custom-option-label" for="m3">M</label>
              </div>
            </div>
            <button class="btn btn-primary btn-sm btn-block mb-2" type="button" href="#quick-view" data-toggle="modal"><i class="fa fa-cart font-size-sm mr-1"></i>Visualizar Detalhes</button>
            
          </div>
        </div>
        <hr class="d-sm-none">
      </div>
      <!-- Product-->
      <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
        <div class="card product-card">
          <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="fa fa-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="shop-single-v1.html"><img src="../../assets/imagens/shop/catalog/04.jpg" alt="Product"></a>
          <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Sportswear</a>
            <h3 class="product-title font-size-sm"><a href="shop-single-v1.html">Women Sports Jacket</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent">$68.<small>40</small></span></div>
              <div class="star-rating"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="card-body card-body-hidden">
            <div class="text-center pb-2">
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="size3" id="xs2" checked>
                <label class="custom-option-label" for="xs2">XS</label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="size3" id="s2">
                <label class="custom-option-label" for="s2">S</label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="size3" id="m2">
                <label class="custom-option-label" for="m2">M</label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="size3" id="l2">
                <label class="custom-option-label" for="l2">L</label>
              </div>
            </div>
            <button class="btn btn-primary btn-sm btn-block mb-2" type="button" href="#quick-view" data-toggle="modal"><i class="fa fa-cart font-size-sm mr-1"></i>Visualizar Detalhes</button>
            
          </div>
        </div>
        <hr class="d-sm-none">
      </div>
      <!-- Product-->
      <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
        <div class="card product-card">
          <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="fa fa-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="shop-single-v1.html"><img src="../../assets/imagens/shop/catalog/05.jpg" alt="Product"></a>
          <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Men’s Sunglasses</a>
            <h3 class="product-title font-size-sm"><a href="shop-single-v1.html">Polarized Sunglasses</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-muted font-size-sm">Out of stock</span></div>
              <div class="star-rating"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="card-body card-body-hidden"><a class="btn btn-secondary btn-sm btn-block mb-2" href="shop-single-v1.html">View details</a>
            
          </div>
        </div>
        <hr class="d-sm-none">
      </div>
      <!-- Product-->
      <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
        <div class="card product-card">
          <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="fa fa-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="shop-single-v1.html"><img src="../../assets/imagens/shop/catalog/06.jpg" alt="Product"></a>
          <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Backpacks</a>
            <h3 class="product-title font-size-sm"><a href="shop-single-v1.html">TH Jeans City Backpack</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent">$79.<small>50</small></span></div>
              <div class="star-rating"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="card-body card-body-hidden">
            <div class="text-center pb-2">
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="color2" id="khaki" checked>
                <label class="custom-option-label rounded-circle" for="khaki"><span class="custom-option-color rounded-circle" style="background-color: #97947c;"></span></label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="color2" id="jeans">
                <label class="custom-option-label rounded-circle" for="jeans"><span class="custom-option-color rounded-circle" style="background-color: #99a8be;"></span></label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="color2" id="white2">
                <label class="custom-option-label rounded-circle" for="white2"><span class="custom-option-color rounded-circle" style="background-color: #eaeaeb;"></span></label>
              </div>
            </div>
            <button class="btn btn-primary btn-sm btn-block mb-2" type="button" href="#quick-view" data-toggle="modal"><i class="fa fa-cart font-size-sm mr-1"></i>Visualizar Detalhes</button>
            
          </div>
        </div>
        <hr class="d-sm-none">
      </div>
      <!-- Product-->
      <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
        <div class="card product-card">
          <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="fa fa-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="shop-single-v1.html"><img src="../../assets/imagens/shop/catalog/25.jpg" alt="Product"></a>
          <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Women's Sneakers</a>
            <h3 class="product-title font-size-sm"><a href="shop-single-v1.html">Leather High-Top Sneakers</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent">$215.<small>00</small></span></div>
              <div class="star-rating"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="card-body card-body-hidden">
            <div class="text-center pb-2">
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="size5" id="s4-80">
                <label class="custom-option-label" for="s4-80">8</label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="size5" id="s4-85" checked>
                <label class="custom-option-label" for="s4-85">8.5</label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="size5" id="s4-90">
                <label class="custom-option-label" for="s4-90">9</label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                <input class="custom-control-input" type="radio" name="size5" id="s4-95">
                <label class="custom-option-label" for="s4-95">9.5</label>
              </div>
            </div>
            <button class="btn btn-primary btn-sm btn-block mb-2" type="button" href="#quick-view" data-toggle="modal"><i class="fa fa-cart font-size-sm mr-1"></i>Visualizar Detalhes</button>
            
          </div>
        </div>
        <hr class="d-sm-none">
      </div>
    </div>
    <div class="text-center pt-3"><a class="btn btn-outline-accent" href="shop-grid-ls.html">More products<i class="fa fa-arrow-right ml-1"></i></a></div>
  </section>


  <section class="container pb-4 mb-md-3">
    <div class="row">
      <div class="col-md-8 mb-4">
        <div class="d-sm-flex justify-content-between align-items-center bg-secondary overflow-hidden rounded-lg">
          <div class="py-4 my-2 my-md-0 py-md-5 px-4 ml-md-3 text-center text-sm-left">
            <h4 class="font-size-lg font-weight-light mb-2">Hurry up! Limited time offer</h4>
            <h3 class="mb-4">Converse All Star on Sale</h3><a class="btn btn-primary btn-shadow btn-sm" href="#">Shop Now</a>
          </div><img class="d-block ml-auto" src="img/shop/catalog/banner.jpg" alt="Shop Converse">
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="d-flex flex-column h-100 justify-content-center bg-size-cover bg-position-center rounded-lg" style="background-image: url(img/blog/banner-bg.jpg);">
          <div class="py-4 my-2 px-4 text-center">
            <div class="py-1">
              <h5 class="mb-2">Your Add Banner Here</h5>
              <p class="font-size-sm text-muted">Hurry up to reserve your spot</p><a class="btn btn-primary btn-shadow btn-sm" href="#">Contact us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  