
  <!-- <section class="cz-carousel cz-controls-lg">
    <div class="cz-carousel-inner" data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;responsive&quot;: {&quot;0&quot;:{&quot;nav&quot;:true, &quot;controls&quot;: false},&quot;992&quot;:{&quot;nav&quot;:false, &quot;controls&quot;: true}}}">
      <div class="px-lg-5" style="background-color: #3aafd2;">
        <div class="d-lg-flex justify-content-between align-items-center pl-lg-4"><img class="d-block order-lg-2 mr-lg-n5 flex-shrink-0" src="../../assets/imagens/home/slider/01.jpg" alt="Summer Collection">
          <div class="position-relative mx-auto mr-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
            <div class="pb-lg-5 mb-lg-5 text-center text-lg-left text-lg-nowrap">
              <h2 class="text-light font-weight-light pb-1 from-left">Has just arrived!</h2>
              <h1 class="text-light display-4 from-left delay-1">Huge Summer Collection</h1>
              <p class="font-size-lg text-light pb-3 from-left delay-2">Swimwear, Tops, Shorts, Sunglasses &amp; much more...</p><a class="btn btn-primary scale-up delay-4" href="shop-grid-ls.html">Shop Now<i class="fa fa-arrow-right ml-2 mr-n1"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="px-lg-5" style="background-color: #f5b1b0;">
        <div class="d-lg-flex justify-content-between align-items-center pl-lg-4"><img class="d-block order-lg-2 mr-lg-n5 flex-shrink-0" src="../../assets/imagens/home/slider/02.jpg" alt="Women Sportswear">
          <div class="position-relative mx-auto mr-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
            <div class="pb-lg-5 mb-lg-5 text-center text-lg-left text-lg-nowrap">
              <h2 class="text-light font-weight-light pb-1 from-bottom">Hurry up! Limited time offer.</h2>
              <h1 class="text-light display-4 from-bottom delay-1">Women Sportswear Sale</h1>
              <p class="font-size-lg text-light pb-3 from-bottom delay-2">Sneakers, Keds, Sweatshirts, Hoodies &amp; much more...</p><a class="btn btn-primary scale-up delay-4" href="shop-grid-ls.html">Shop Now<i class="fa fa-arrow-right ml-2 mr-n1"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="px-lg-5" style="background-color: #eba170;">
        <div class="d-lg-flex justify-content-between align-items-center pl-lg-4"><img class="d-block order-lg-2 mr-lg-n5 flex-shrink-0" src="../../assets/imagens/home/slider/03.jpg" alt="Men Accessories">
          <div class="position-relative mx-auto mr-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
            <div class="pb-lg-5 mb-lg-5 text-center text-lg-left text-lg-nowrap">
              <h2 class="text-light font-weight-light pb-1 from-top">Complete your look with</h2>
              <h1 class="text-light display-4 from-top delay-1">New Men's Accessories</h1>
              <p class="font-size-lg text-light pb-3 from-top delay-2">Hats &amp; Caps, Sunglasses, Bags &amp; much more...</p><a class="btn btn-primary scale-up delay-4" href="shop-grid-ls.html">Shop Now<i class="fa fa-arrow-right ml-2 mr-n1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container position-relative pt-3 pt-lg-0 pb-5 mt-lg-n10" style="z-index: 10;">
    <div class="row">
      <div class="col-xl-8 col-lg-9">
        <div class="card border-0 box-shadow-lg">
          <div class="card-body px-3 pt-grid-gutter pb-0">
            <div class="row no-gutters pl-1">
              <div class="col-sm-4 px-2 mb-grid-gutter"><a class="d-block text-center text-decoration-none mr-1" href="shop-grid-ls.html"><img class="d-block rounded mb-3" src="../../assets/imagens/home/categories/cat-sm01.jpg" alt="Men">
                  <h3 class="font-size-base pt-1 mb-0">Ferramentas</h3></a></div>
              <div class="col-sm-4 px-2 mb-grid-gutter"><a class="d-block text-center text-decoration-none mr-1" href="shop-grid-ls.html"><img class="d-block rounded mb-3" src="../../assets/imagens/home/categories/cat-sm02.jpg" alt="Women">
                  <h3 class="font-size-base pt-1 mb-0">Casa</h3></a></div>
              <div class="col-sm-4 px-2 mb-grid-gutter"><a class="d-block text-center text-decoration-none mr-1" href="shop-grid-ls.html"><img class="d-block rounded mb-3" src="../../assets/imagens/home/categories/cat-sm03.jpg" alt="Kids">
                  <h3 class="font-size-base pt-1 mb-0">Profissional</h3></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Products grid (Trending products)-->
  <section class="container pt-md-3 pb-5 mb-md-3">
    <h2 class="h3 text-center">Produtos em Alta</h2>
    <div class="row pt-4 mx-n2">
      <!-- Product-->
      <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
        <div class="card product-card">
          <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="fa fa-heart"></i></button><a class="card-img-top d-block overflow-hidden" routerLink="detalhe-produto"><img src="../../assets/imagens/shop/catalog/01.jpg" alt="Product"></a>
          <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Com molas anti-impacto</a>
            <h3 class="product-title font-size-sm"><a routerLink="detalhe-produto">Tênis para corrida</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent">R$ 154.<small>00</small></span></div>
              <div class="star-rating"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="card-body card-body-hidden">
            <button class="btn btn-primary btn-sm btn-block mb-2" type="button" href="#quick-view" data-toggle="modal"><i class="fa fa-cart font-size-sm mr-1"></i>Visualizar Detalhes</button>
            
          </div>
        </div>
        <hr class="d-sm-none">
      </div>
      <!-- Product-->
      <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
        <div class="card product-card"><span class="badge badge-danger badge-shadow">Baixou</span>
          <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="fa fa-heart"></i></button><a class="card-img-top d-block overflow-hidden" routerLink="detalhe-produto"><img src="../../assets/imagens/shop/catalog/02.jpg" alt="Product"></a>
          <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">ideal para frio</a>
            <h3 class="product-title font-size-sm"><a routerLink="detalhe-produto">Blusa feminina</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent">R$ 28.<small>50</small></span>
                <del class="font-size-sm text-muted">R$ 38.<small>50</small></del>
              </div>
              <div class="star-rating"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="card-body card-body-hidden">
            <button class="btn btn-primary btn-sm btn-block mb-2" type="button" href="#quick-view" data-toggle="modal"><i class="fa fa-cart font-size-sm mr-1"></i>Visualizar Detalhes</button>
            
          </div>
        </div>
        <hr class="d-sm-none">
      </div>
      <!-- Product-->
      <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
        <div class="card product-card">
          <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="fa fa-heart"></i></button><a class="card-img-top d-block overflow-hidden" routerLink="detalhe-produto"><img src="../../assets/imagens/shop/catalog/03.jpg" alt="Product"></a>
          <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Feminino</a>
            <h3 class="product-title font-size-sm"><a routerLink="detalhe-produto">Shorts Jeans</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent">R$ 39.<small>50</small></span></div>
              <div class="star-rating"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i>
              </div>
            </div>
          </div>
          <div class="card-body card-body-hidden">
            <button class="btn btn-primary btn-sm btn-block mb-2" type="button" href="#quick-view" data-toggle="modal"><i class="fa fa-cart font-size-sm mr-1"></i>Visualizar Detalhes</button>
            
          </div>
        </div>
        <hr class="d-sm-none">
      </div>
      <!-- Product-->
      <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
        <div class="card product-card">
          <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="fa fa-heart"></i></button><a class="card-img-top d-block overflow-hidden" routerLink="detalhe-produto"><img src="../../assets/imagens/shop/catalog/07.jpg" alt="Product"></a>
          <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">duas peças</a>
            <h3 class="product-title font-size-sm"><a routerLink="detalhe-produto">Biquini</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent">R$ 18.<small>99</small></span></div>
              <div class="star-rating"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="card-body card-body-hidden">
            <button class="btn btn-primary btn-sm btn-block mb-2" type="button" href="#quick-view" data-toggle="modal"><i class="fa fa-cart font-size-sm mr-1"></i>Visualizar Detalhes</button>
            
          </div>
        </div>
        <hr class="d-sm-none">
      </div>
      <!-- Product-->
      <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
        <div class="card product-card">
          <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="fa fa-heart"></i></button><a class="card-img-top d-block overflow-hidden" routerLink="detalhe-produto"><img src="../../assets/imagens/shop/catalog/04.jpg" alt="Product"></a>
          <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">feminino</a>
            <h3 class="product-title font-size-sm"><a routerLink="detalhe-produto">Blusa rosa</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent">R$ 68.<small>40</small></span></div>
              <div class="star-rating"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="card-body card-body-hidden">
            <button class="btn btn-primary btn-sm btn-block mb-2" type="button" href="#quick-view" data-toggle="modal"><i class="fa fa-cart font-size-sm mr-1"></i>Visualizar Detalhes</button>
            
          </div>
        </div>
        <hr class="d-sm-none">
      </div>
      <!-- Product-->
      <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
        <div class="card product-card">
          <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="fa fa-heart"></i></button><a class="card-img-top d-block overflow-hidden" routerLink="detalhe-produto"><img src="../../assets/imagens/shop/catalog/06.jpg" alt="Product"></a>
          <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">impermeável</a>
            <h3 class="product-title font-size-sm"><a routerLink="detalhe-produto">Bolsa Jeans</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent">R$ 79.<small>50</small></span></div>
              <div class="star-rating"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="card-body card-body-hidden">
            <button class="btn btn-primary btn-sm btn-block mb-2" type="button" href="#quick-view" data-toggle="modal"><i class="fa fa-cart font-size-sm mr-1"></i>Visualizar Detalhes</button>
            
          </div>
        </div>
        <hr class="d-sm-none">
      </div>
      <!-- Product-->
      <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
        <div class="card product-card">
          <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="fa fa-heart"></i></button><a class="card-img-top d-block overflow-hidden" routerLink="detalhe-produto"><img src="../../assets/imagens/shop/catalog/25.jpg" alt="Product"></a>
          <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Unisex</a>
            <h3 class="product-title font-size-sm"><a routerLink="detalhe-produto">Tênis estrelado</a></h3>
            <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent">R$ 215.<small>00</small></span></div>
              <div class="star-rating"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="card-body card-body-hidden">
            <button class="btn btn-primary btn-sm btn-block mb-2" type="button" href="#quick-view" data-toggle="modal"><i class="fa fa-cart font-size-sm mr-1"></i>Visualizar Detalhes</button>
            
          </div>
        </div>
        <hr class="d-sm-none">
      </div>
    </div>
    <div class="text-center pt-3"><a class="btn btn-outline-accent" routerLink="list-all">Mais Produtos<i class="fa fa-arrow-right ml-1"></i></a></div>
  </section>