<mat-toolbar class="backSecondaryAlugo">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
<!--main-section--------------->
<section class="main">
    <!--logo------------->
    <div class="logo">
        <a href="#">
            <img src='../../assets/imagens/alugoIcon.PNG' width='128px'>
        </a>
    </div>
    <!--side-menu------------->
    <div class="side-box">
        <!--search------------->
        <div class="search">
            <!--icon----------->
            <i class="fas fa-search"></i>
            <input placeholder="Pesquisar" type="text" />
        </div>

    </div>
    <!--img--------->
    <div class="m-img">
        <img alt="" src="../../assets/imagens/undraw_online_shopping_ga73.svg" />
    </div>
    <!--text------------>
    <div class="m-text">
        <h1>vender? Comprar? <font>Alugar!</font></h1>
    </div>
    <div class="social">
        <a href="#"><i class="fas fa-tools"></i>Ferramentas</a>
        <a href="#"><i class="fas fa-drumstick-bite"></i>Cozinha</a>
        <a href="#"><i class="fas fa-house-user"></i>Casa</a>
        <a href="#"><i class="fas fa-camera-retro"></i>Câmera</a>
        <a href="#"><i class="fas fa-bed"></i> Quarto</a>
        <a href="#"><i class="fas fa-female"></i>Feminino</a>
        <a href="#"><i class="fas fa-male"></i>Masculino</a>
    </div>

</section>
<section class="our-brand">
    <!--text-->
    <div class="brand-text">
        <!--heading-->
        <h3>Não compre, <font>ALUGUE!</font></h3>
        <!--details-->
        <p class="mt-4">Texto que vai explicar toda nossa ideia resumida de alugar ao inves de comprar. 
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged. It was popularised in 
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including 
            versions of Lorem Ipsum.</p>
    </div>
    <!--img-->
    <div class="brand-img"><img src="../../assets/imagens/Mockup2.jpg" /></div>
</section>
<section class="product">
    <!--heading------------>
    <div class="p-heading">
        <h3>O que as pessoas mais <font> Procuram</font></h3>
    </div>
    <!--product-container----------------->
    <div class="product-container">
        <!--box-1------------>
        <div class="p-box">
            <img alt="1" src="../../assets/imagens/b1.png" />
            <!--details--------->
            <p>Bolsas</p>
            <!--buy-btn-->
            <a class="buy-btn" href="#">Ver Mais</a>
        </div>
        <!--box-2------------>
        <div class="p-box">
            <img alt="2" src="../../assets/imagens/b2.png" />
            <!--details--------->
            <p>Black Genuine Leather Bags.</p>
            <!--buy-btn-->
            <a class="buy-btn" href="#">Ver Mais</a>
        </div>
        <!--box-3------------>
        <div class="p-box">
            <img alt="3" src="../../assets/imagens/b3.png" />
            <!--details--------->
            <p>Black Genuine Leather Bags.</p>
            <!--buy-btn-->
            <a class="buy-btn" href="#">Ver Mais</a>
        </div>
        <!--box-4------------>
        <div class="p-box">
            <img alt="4" src="../../assets/imagens/b4.png" />
            <!--details--------->
            <p>Black Genuine Leather Bags.</p>
            <!--buy-btn-->
            <a class="buy-btn" href="#">Ver Mais</a>
        </div>
        <!--box-5------------>
        <div class="p-box">
            <img alt="5" src="../../assets/imagens/b5.png" />
            <!--details--------->
            <p>Black Genuine Leather Bags.</p>
            <!--buy-btn-->
            <a class="buy-btn" href="#">Ver Mais</a>
        </div>
        <!--box-6------------>
        <div class="p-box">
            <img alt="6" src="../../assets/imagens/b6.png" />
            <!--details--------->
            <p>Black Genuine Leather Bags.</p>
            <!--buy-btn-->
            <a class="buy-btn" href="#">Ver Mais</a>
        </div>
    </div>

</section>
<!--our-brand-section----------------->
<section class="our-brand">
    <!--text-->
    <div class="brand-text">
        <!--heading-->
        <h3>Não compre, <font>ALUGUE!</font></h3>
        <!--details-->
        <p class="mt-4">Texto que vai explicar toda nossa ideia resumida de alugar ao inves de comprar. 
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged. It was popularised in 
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including 
            versions of Lorem Ipsum.</p>
    </div>
    <!--img-->
    <div class="brand-img"><img src="../../assets/imagens/bg.jpg" /></div>
</section>
<!--watches------------------->
<section class="product">
    <!--heading------------>
    <div class="p-heading">
        <h3>Melhores<font> Avaliados</font></h3>
    </div>
    <!--product-container----------------->
    <div class="product-container">
        <!--box-1------------>
        <div class="p-box">
            <img alt="1" src="../../assets/imagens/w1.png" />
            <!--details--------->
            <p>Fashion Silver Chain Watch</p>
            <!--price--->
            <a class="price" href="#">$23.3</a>
            <!--buy-btn-->
            <a class="buy-btn" href="#">Add To Cart</a>
        </div>
        <!--box-2------------>
        <div class="p-box">
            <img alt="2" src="../../assets/imagens/w2.png" />
            <!--details--------->
            <p>Fashion Genuine Chain Watch</p>
            <!--price--->
            <a class="price" href="#">$30.3</a>
            <!--buy-btn-->
            <a class="buy-btn" href="#">Add To Cart</a>
        </div>
        <!--box-3------------>
        <div class="p-box">
            <img alt="3" src="../../assets/imagens/w3.png" />
            <!--details--------->
            <p>Fashion Chain Watch.</p>
            <!--price--->
            <a class="price" href="#">$13.3</a>
            <!--buy-btn-->
            <a class="buy-btn" href="#">Add To Cart</a>
        </div>
        <!--box-4------------>
        <div class="p-box">
            <img alt="4" src="../../assets/imagens/w4.png" />
            <!--details--------->
            <p>Fashion Black Chain Watch</p>
            <!--price--->
            <a class="price" href="#">$33.3</a>
            <!--buy-btn-->
            <a class="buy-btn" href="#">Add To Cart</a>
        </div>
        <!--box-5------------>
        <div class="p-box">
            <img alt="5" src="../../assets/imagens/w5.png" />
            <!--details--------->
            <p>Fashion Lether Watch</p>
            <!--price--->
            <a class="price" href="#">$11.3</a>
            <!--buy-btn-->
            <a class="buy-btn" href="#">Add To Cart</a>
        </div>
        <!--box-6------------>
        <div class="p-box">
            <img alt="6" src="../../assets/imagens/w6.png" />
            <!--details--------->
            <p>Fashion Forign Watch</p>
            <!--price--->
            <a class="price" href="#">$43.3</a>
            <!--buy-btn-->
            <a class="buy-btn" href="#">Add To Cart</a>
        </div>
        <div class="p-box">
            <img alt="6" src="../../assets/imagens/w6.png" />
            <!--details--------->
            <p>Fashion Forign Watch</p>
            <!--price--->
            <a class="price" href="#">$43.3</a>
            <!--buy-btn-->
            <a class="buy-btn" href="#">Add To Cart</a>
        </div>
        <div class="p-box">
            <img alt="6" src="../../assets/imagens/w6.png" />
            <!--details--------->
            <p>Fashion Forign Watch</p>
            <!--price--->
            <a class="price" href="#">$43.3</a>
            <!--buy-btn-->
            <a class="buy-btn" href="#">Add To Cart</a>
        </div>
    </div>

</section>

<!--footer--------------------->
<!-- <footer>
    <a href="#">
        <img src='../../assets/imagens/alugoIcon.PNG' width='128px'>
    </a>
    <ul class="footer-menu">
        <li><i class="fas fa-tools"></i></li>
        <li><a href="#">Women</a></li>
        <li><a href="#">Kids</a></li>
        <li><a href="#">Bags</a></li>
        <li><a href="#">mais um</a></li>
        <li><a href="#">Watchs</a></li>
        <li><a href="#">Watchs</a></li>
        <li><a href="#">Watchs</a></li>
        <li><a href="#">Watchs</a></li>
        <li><a href="#">Watchs</a></li>
    </ul>
</footer> -->
<!--copyright--------------->
<a class="copyright" href="#">&#169; Copyright 2020. Shop Site By Going To Internet</a>